{{! @glint-nocheck: not typesafe yet }}
<button class="rounded-l-lg border border-r-0 border-gray-300 bg-white flex items-center justify-center p-1.5 hover:pr-2 hover:border-gray-400 hover:bg-gray-200 transition-all" ...attributes>
  {{svg-jar "chevron-double-left" class="w-4 h-4 text-gray-500"}}
  <EmberTooltip @text="Collapse sidebar" @side="right" />
</button>