<div class="flex">
  <div class="flex-grow">
    <CoursePage::StepList @course={{@course}} @repository={{@repository}} @onRepositoryCreate={{@onRepositoryCreate}} />
  </div>
  <div class="w-80 flex-shrink-0 border-l ml-4 hidden lg:block">
    <CoursePage::Leaderboard @course={{@course}} />
  </div>
</div>