<CoursePage::InstructionsCard ...attributes data-test-course-completed-card>
  <:header>
    <div class="flex items-center mb-6 border-b dark:border-white/5 pb-2">
      <img src={{this.congratulationsImage}} alt="Congratulations!" class="mr-3 w-10 h-10" />
      <span class="font-semibold text-lg text-gray-800 dark:text-gray-50">Challenge Complete!</span>
    </div>
  </:header>
  <:content>
    <div class="prose dark:prose-invert" data-test-instructions-text>
      {{markdown-to-html @repository.course.completionMessageMarkdown}}
    </div>
  </:content>
</CoursePage::InstructionsCard>

{{#if this.configureGithubIntegrationModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error: not ts-ified yet }}
    <CoursePage::ConfigureGithubIntegrationModal
      @repository={{@repository}}
      {{! @glint-expect-error: mut not ts-ified yet }}
      @onClose={{fn (mut this.configureGithubIntegrationModalIsOpen) false}}
    />
  </ModalBackdrop>
{{/if}}