{{! @glint-nocheck: not typesafe yet }}
<button class="rounded-r-lg border border-l-0 flex items-center justify-center p-1.5 hover:pl-2 bg-white hover:border-gray-300 hover:bg-gray-100 transition-all" ...attributes>
  {{svg-jar "chevron-double-right" class="w-4 h-4 text-gray-500"}}
  <EmberTooltip @text="Expand sidebar" @side="right" />
</button>