<div class="flex justify-between items-center mb-6 md:mb-10 flex-wrap gap-4">
  <h1 class="text-xl md:text-2xl text-gray-600">
    {{@course.name}}
  </h1>

  {{#if @repositories.firstObject}}
    <div>
      <CoursePage::RepositoryDropdown @repositories={{@repositories}} @activeRepository={{@activeRepository}} />
    </div>
  {{/if}}
</div>