<div>
  <div class="flex items-center mb-2 pl-4">
    <span class="uppercase text-teal-500 text-xs font-bold">RECENT ATTEMPTS</span>
    <span class="text-white bg-teal-500 text-xs font-bold rounded px-1.5 py-0.5 ml-2">13</span>
  </div>

  <div>
    <CoursePage::LeaderboardEntry @username="ZakSingh" @isActive={{true}} />
    <CoursePage::LeaderboardEntry @username="jiaweizhu830" />
    <CoursePage::LeaderboardEntry @username="rohitpaulk" />
  </div>
</div>