<div class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group" role="button" data-test-dropdown-action ...attributes>
  {{yield}}

  {{svg-jar @icon class="w-5 ml-4 text-gray-300 group-hover:text-teal-500"}}
</div>