<div
  class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group {{if @isDisabled 'text-gray-300'}}"
  role="button"
  data-test-dropdown-action
  ...attributes
>
  {{yield}}

  {{svg-jar @icon class=(concat "w-5 ml-4 text-gray-300 " (if @isDisabled "" "group-hover:text-teal-500"))}}
</div>