{{#if (eq @step.status "complete")}}
  <div class="inline-flex border border-green-300 rounded-full bg-green-100 pl-1.5 pr-2.5 text-sm font-semibold text-green-700" ...attributes>
    {{svg-jar "check-circle" class="w-4 mr-1"}}
    Completed
  </div>
{{else if (eq @step.status "locked")}}
  <div class="inline-flex border border-gray-300 rounded-full bg-gray-100 px-2.5 text-sm font-semibold text-gray-700" ...attributes>
    Pending
  </div>
{{else if (eq @step.status "in_progress")}}
  <div class="inline-flex border border-yellow-300 rounded-full bg-yellow-100 px-2.5 text-sm font-semibold text-yellow-700" ...attributes>
    In-progress
  </div>
{{/if}}