<div
  class="flex p-3 bg-blue-100 dark:bg-blue-900 dark:bg-opacity-40 border border-blue-300 dark:border-blue-700 rounded shadow-sm mt-3"
  data-test-requested-languages-prompt
>
  <div class="prose dark:prose-invert prose-blue leading-6 text-sm">
    <span data-test-will-let-you-know-text>{{this.willLetYouKnowText}}</span>

    <br /><br />

    Want to contribute?
    <a href="https://github.com/codecrafters-io/languages"><b>codecrafters-io/languages</b></a>
  </div>
</div>