{{#if @solution.isRestrictedToTeam}}
  <div class="inline-flex items-center border border-gray-300 rounded pl-1 pr-2" ...attributes>
    {{svg-jar "lock-closed" class="w-3 h-3 text-gray-400 mr-1"}}
    <span class="text-xs font-semibold leading-5 text-gray-700">Private</span>
    <EmberTooltip @text="This solution is only visible to users within your team." />
  </div>
{{else if @solution.isPinned}}
  <Pill @color="green" ...attributes>
    Editor's choice

    <EmberTooltip @text="This solution was hand-picked by CodeCrafters staff." />
  </Pill>
{{else if (eq @solution.user this.authenticator.currentUser)}}
  <Pill @color="green" ...attributes>
    Yours

    {{! @glint-expect-error not types yet }}
    <EmberPopover @popperContainer="body">
      <div class="prose prose-sm prose-invert text-white">
        <p>
          This is your code example.
        </p>

        {{#if this.authenticator.currentUser.hasAnonymousModeEnabled}}
          <p>
            You have Anonymous Mode enabled, so your GitHub username and avatar are hidden.
          </p>
        {{else}}
          <p>
            You can
            <LinkTo @route="settings.profile" target="_blank">turn on Anonymous Mode</LinkTo>
            to hide your GitHub username and avatar.
          </p>
        {{/if}}
      </div>
    </EmberPopover>
  </Pill>
{{/if}}