<Settings::FormSection @title="Danger Zone" @description="Destructive actions on your account">
  <DangerButton
    @size="small"
    {{on "click" (fn (mut this.deleteAccountModalIsOpen) (not this.deleteAccountModalIsOpen))}}
    data-test-delete-my-account-button
  >
    Delete my account
  </DangerButton>

  <div class="text-gray-400 text-xs mt-3 leading-relaxed">
    Deleting your account will permanently remove all your data from our servers. You can choose to signup via your GitHub account again at any time.
  </div>
</Settings::FormSection>

{{#if this.deleteAccountModalIsOpen}}
  <ModalBackdrop>
    {{! @glint-expect-error: mut not ts-ified yet }}
    <Settings::DeleteAccountModal @onClose={{fn (mut this.deleteAccountModalIsOpen) false}} />
  </ModalBackdrop>
{{/if}}