<div class="inline-flex text-xs text-teal-500 font-bold" data-test-course-free-label ...attributes>
  {{#if @course.isFreeThisMonth}}
    FREE THIS MONTH
  {{else}}
    FREE
  {{/if}}

  <EmberTooltip @text={{this.tooltipCopy}} @side={{this.tooltipSide}} />
</div>