<div
  class="inline-flex items-center rounded-md
    {{if this.sizeIsRegular 'text-xs px-2 py-1'}}
    {{if this.sizeIsSmall 'text-xxs px-1.5 py-0.5'}}
    font-medium ring-1 ring-inset
    {{this.colorClasses}}"
  ...attributes
>{{yield}}</div>