<div class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group" role="button" ...attributes>
  <span class="mr-4">
    {{@text}}
  </span>

  {{(svg-jar @icon class="w-5 text-gray-300 group-hover:text-teal-500")}}
</div>