<div role="button" class="px-3 py-2 flex items-center justify-between gap-8 group hover:bg-gray-100" ...attributes>
  <span class="text-sm text-gray-800">
    {{@text}}
  </span>

  {{svg-jar @icon class="w-5 text-gray-300 group-hover:text-teal-500"}}
</div>