<button type="button" class="text-gray-500 flex items-center py-3 outline-none group" {{on "click" this.handleClicked}} data-test-sign-in-with-github-button>
  <span class="mr-2 text-xs group-hover:text-teal-500 transition-all">
    Sign in with GitHub
  </span>

  {{svg-jar "github" class="fill-current w-4 transform transition-all group-hover:text-teal-500"}}
</button>