<div class="bg-gray-900 border border-gray-700 rounded overflow-y-auto relative flex-grow p-3">
  {{#if @evaluation.promptFileContents}}
    <pre class="font-mono text-xs text-white whitespace-pre-wrap"><code>{{ansi-to-html @evaluation.promptFileContents}}</code></pre>
  {{else}}
    <AnsiStream @content="Loading..." class="text-xs whitespace-pre-wrap" />
  {{/if}}
</div>