<div class="prose prose-sm prose-compact">
  <p>
    Check the
    <a href="#first-stage-instructions-card" class="font-bold">How to pass this stage</a>
    section below for instructions on how to pass this stage.
  </p>

  <p>
    <a href="#" role="button" {{on "click" @onViewLogsButtonClick}}>Click here</a>
    to view logs.
  </p>
</div>