<div class="prose prose-sm prose-compact">
  <p>
    Read
    <a href="#first-stage-instructions-card" class="font-bold">How to pass this stage</a>
    for instructions on how to pass this stage.
  </p>
</div>