<div ...attributes>
  <div class="prose prose-sm prose-compact mb-3">
    <p>
      Make changes to your code and run the test command again:
    </p>
  </div>

  <CopyableTerminalCommand @commands={{array "codecrafters test"}} class="mb-3" />

  <div class="prose prose-sm prose-compact">
    <p>
      Don't have the
      <a href="https://codecrafters.io/cli" target="_blank" rel="noopener noreferrer">CLI</a>
      installed? You can also submit code via a Git push.
    </p>
  </div>
</div>