{{! @glint-nocheck: not typesafe yet }}
<TeamPage::Section @title="Subscription" data-test-contact-for-team-billing-container ...attributes>
  <div class="text-gray-600 text-sm leading-6" data-test-instructions-text>
    Each team member can subscribe using their own account. If you'd like to create a team-level subscription with a single invoice, contact us.
  </div>

  <a
    class="inline-block bg-teal-600 active:bg-teal-700 px-3 py-2 text-white rounded shadow-sm font-bold text-md mt-4"
    href="mailto:sarup@codecrafters.io"
  >
    Contact Us
  </a>
</TeamPage::Section>