<TeamPage::Section @title="Team Members" ...attributes>
  <div class="mb-6">
    {{#each @team.memberships as |membership|}}
      <TeamPage::MembersListItem @membership={{membership}} />
    {{/each}}
  </div>

  <div class="inline-flex border-b uppercase text-teal-500 font-bold text-sm mb-4">
    Invite URL
  </div>

  {{#if this.currentUserIsTeamAdmin}}
    <div class="mb-3 text-gray-600 text-sm" data-test-invite-url-description>
      To invite new members, send them this invite URL.
    </div>

    <CopyableCode @code="{{@team.inviteUrl}}" />
  {{else}}
    <div class="text-gray-600 text-sm" data-test-invite-url-description>
      To invite new members, ask one of the team admins for an invite URL.
    </div>
  {{/if}}
</TeamPage::Section>