<div class="bg-white rounded shadow p-6" ...attributes>
  <div class="font-bold text-lg text-gray-700 mb-6 border-b inline-flex">
    Team Members
  </div>

  <div class="mb-6">
    {{#each @team.memberships as |membership|}}
      <TeamPage::MembersListItem @membership={{membership}} />
    {{/each}}
  </div>

  <div class="font-bold text-gray-600 mb-4 border-b inline-flex">
    Invite URL
  </div>

  {{#if this.currentUserIsTeamAdmin}}
    <div class="mb-3 text-gray-600 text-sm" data-test-invite-url-description>
      To invite new members, send them this invite URL.
    </div>

    <CopyableCode @code="{{@team.inviteUrl}}" />
  {{else}}
    <div class="text-gray-600 text-sm" data-test-invite-url-description>
      To invite new members, ask one of the team admins for an invite URL.
    </div>
  {{/if}}
</div>