<TeamPage::Section @title="Pilot" data-test-pilot-details-container ...attributes>
  <div class="text-gray-600 text-sm leading-6 mb-4" data-test-details-text>
    Your team's pilot is valid until
    <b class="font-semibold">{{moment-format @team.activePilot.endDate "LLL"}}</b>.
  </div>

  <div class="text-gray-600 text-sm leading-6" data-test-instructions-text>
    If you're ready to upgrade or need any help, please contact us:
  </div>

  <a
    class="inline-block bg-teal-600 active:bg-teal-700 px-3 py-2 text-white rounded shadow-sm font-bold text-md mt-4"
    href="mailto:sarup@codecrafters.io"
  >
    Contact Us
  </a>
</TeamPage::Section>