{{! @glint-nocheck: not typesafe yet }}
<div class="bg-white p-4 md:p-6 rounded border border-gray-200" ...attributes>
  <div class="mb-4">
    <div class="inline-flex border-b border-teal-500 uppercase text-teal-500 font-bold text-sm">
      {{@title}}
    </div>
  </div>

  {{yield}}
</div>