<TeamPage::Section @title="Subscription" data-test-subscription-settings-container ...attributes>
  {{#if this.currentUserIsTeamAdmin}}
    <div class="text-gray-600 text-sm leading-6" data-test-instructions-text>
      To view invoices or amend your subscription, click on the button below.
    </div>

    <TeamPage::ManageSubscriptionButton
      @onClick={{this.handleManageSubscriptionButtonClick}}
      @isCreatingTeamBillingSession={{this.isCreatingTeamBillingSession}}
    />
  {{else}}
    <div class="text-gray-600 text-sm leading-6" data-test-instructions-text>
      To manage this team's subscription, ask one of the team admins for help.
    </div>
  {{/if}}
</TeamPage::Section>