.bg-github-green-dot-wall {
  background-image: url('/assets/images/pages/affiliate-link-page/green-dot-wall.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: max(1024px, 100vw) auto;
}

.bg-github-green-dot-wall:is(.dark *) {
  background-image: url('/assets/images/pages/affiliate-link-page/green-dot-wall-dark.svg');
}
