<div class="w-full max-w-xl bg-white dark:bg-gray-925 border border-gray-200 dark:border-white/5 rounded-sm p-6" ...attributes>
  <div class="text-gray-700 dark:text-gray-300 font-bold mb-1 uppercase">{{@title}}</div>
  <div class="h-px bg-gray-100 dark:bg-white/5 mt-2 mb-6"></div>

  {{yield}}
</div>