<div class="bg-white min-h-screen">
  <div class="container lg:max-w-screen-lg mx-auto pt-4 pb-10 px-6">
    <div class="pt-3 pb-6 border-b flex items-start justify-between mb-6">
      <div>
        <h3 class="text-lg font-bold text-gray-800 mb-1">
          Questions
        </h3>
        <div class="text-xs text-gray-400">
          Questions linked to this concept.
        </div>
      </div>
      <div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      {{#each @model.concept.questions as |conceptQuestion|}}
        <ConceptAdmin::QuestionsPage::QuestionCard @question={{conceptQuestion}} />
      {{/each}}
    </div>
  </div>
</div>