<button
  type="button"
  class="flex items-center px-2.5 py-2 rounded border border-gray-200 hover:border-gray-400 group relative"
  data-test-action-button
  ...attributes
>
  {{svg-jar @icon class=(concat "w-5 mr-1.5 fill-current opacity-80 group-hover:opacity-100 text-teal-500")}}

  <span class="text-gray-700">
    {{@text}}
  </span>
</button>