<div class="py-3">
  <h3 class="text-lg font-bold text-gray-800">
    All languages
  </h3>
  <div class="text-xs text-gray-400">
    Showing submissions in all languages
  </div>
</div>

<div class="border-t h-160 pb-4">
  <div class="flex h-full items-stretch">
    <Admin::Course::SubmissionsPage::TimelineContainer
      @onSubmissionSelect={{mut this.selectedSubmission}}
      @submissions={{@submissions}}
      @selectedSubmission={{this.selectedSubmission}}
      class="w-5/12 border-r" />

    <Admin::Course::SubmissionsPage::SubmissionDetailsContainer
      @submission={{this.selectedSubmission}}
      class="w-7/12 pr-0" />
  </div>
</div>