/* stylelint-disable */
@import 'tailwind-compiled.css';
@import 'utilities.css';

@import 'modals.scss';
@import 'course-stage-solution-page.scss';
@import 'code-walkthrough-page.scss';

/* purgecss start ignore */
@import '@typeform/embed/build/css/popup.css';
@import 'ember-animated/dist/styles/ember-animated.css';
@import 'prism-light-theme.css';

.ember-basic-dropdown-trigger {
  outline: none !important;
}

.ember-basic-dropdown-content {
  background: none !important;
}

.top-to-bottom-scroll-mask {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: lighten;
}

.bottom-to-top-scroll-mask {
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: lighten;
}

.copyable-code .border-text-mask {
  background: linear-gradient(to left, rgba(241, 245, 249, 1) 0%, rgba(241, 245, 249, 1) 20%, rgba(241, 245, 249, 0) 100%);
}

.top-50-percent {
  top: 50%;
}

/* Override prism's 1em font-size */
.prose pre[class*='language-'] {
  font-size: 0.875em;
}

.prose.prose-sm pre[class*='language-'] {
  font-size: 1em;
}

.prose pre code {
  white-space: pre;
}

.vertical-mask {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

.syntax-highlighted-code pre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  white-space: pre;
}

.syntax-highlighted-code pre code {
  min-width: 100%;
}

.syntax-highlighted-code.with-line-numbers pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.syntax-highlighted-code.with-line-numbers pre code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: #94a3b8;
  font-size: 0.875em;
}

.syntax-highlighted-code pre code .line {
  padding-left: 1rem;
  padding-right: 1rem;
}

.syntax-highlighted-code pre code .line.highlighted {
  background-color: rgba(255, 255, 255, 0.1);
}

.code-walkthrough-prose h1 {
  margin-top: 1em !important;
}

.diff-highlight .removed-marker {
  color: rgb(186, 0, 103);
}

.diff-highlight .inserted-marker {
  color: #690;
}

.diff-highlight .removed-line {
  background-color: rgba(255, 0, 0, 0.1);
}

.dark .diff-highlight .removed-line {
  background-color: rgba(255, 0, 0, 0.15);
}

.diff-highlight .added-line {
  background-color: rgba(0, 255, 0, 0.15);
}

/* purgecss end ignore */

.number-input-with-no-controls::-webkit-outer-spin-button,
.number-input-with-no-controls::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input-with-no-controls {
  -moz-appearance: textfield;
}

.blurred-overlay {
  filter: blur(4px);
}

.badge-earned-modal-prose b {
  /* medium */
  font-weight: 500;
}

.markdown-list ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.metabase-iframe {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media screen and (min-width: 80em) {
  .metabase-iframe {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.has-prism-highlighting pre[class*='language-'] {
  background-color: #f1f5f9;
}

.sortable-item {
  transition: all 0.06s;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
}

.sortable-item.is-dragging .highlight-while-dragging {
  background: #f8fafc;
}

.sortable-item.is-dropping .highlight-while-dragging {
  background: #f1f5f9;
  z-index: 10;
}

.ember-tooltip,
.ember-popover {
  z-index: 1000;
}

.ember-popover {
  background: #3a3c47;
  color: #fff;
  padding: 6px 10px;
  border: none;
  max-width: 200px; /* match tooltip for now */
}

.ember-popover[x-placement^='top'] .ember-popover-arrow {
  border-top-color: #3a3c47;
}

.ember-popover[x-placement^='right'] .ember-popover-arrow {
  border-right-color: #3a3c47;
}

.ember-popover[x-placement^='bottom'] .ember-popover-arrow {
  border-bottom-color: #3a3c47;
}

.ember-popover[x-placement^='left'] .ember-popover-arrow {
  border-left-color: #3a3c47;
}
