/* Overrides for Tailwind & others */
@import url('overrides.css');

/* Useful modules */
@import url('utilities.css');
@import url('modals.css');

/* Prism styles */
@import url('prism-light-theme.css');
@import url('prism-dark-theme.css');

/* Custom styles for individual pages */
@import url('pages/affiliate-link-page.css');
@import url('pages/code-walkthrough-page.css');
@import url('pages/course-stage-solution-page.css');

:root {
  /* --font-cursive: 'Shadows Into Light Two', cursive; */
  --font-cursive: 'Indie Flower', cursive;
}

body {
  font-family: Montserrat, sans-serif; /* Required for fonts to work on Percy */
}

.ember-basic-dropdown-trigger {
  outline: none !important;
}

.ember-basic-dropdown-content {
  background: none !important;
}

.top-to-bottom-scroll-mask {
  background: linear-gradient(to bottom, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 100%) 20%, rgb(255 255 255 / 0%) 100%);
  mix-blend-mode: lighten;
}

.bottom-to-top-scroll-mask {
  background: linear-gradient(to top, rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 100%) 20%, rgb(255 255 255 / 0%) 100%);
  mix-blend-mode: lighten;
}

@keyframes progress-donut {
  from {
    stroke-dashoffset: 56.55;
  }

  to {
    stroke-dashoffset: var(--target-offset);
  }
}

.progress-donut-circle {
  stroke-dasharray: 56.55 56.55;
  stroke-dashoffset: 56.55;
  animation: progress-donut 400ms ease-out forwards;
}

.top-50-percent {
  top: 50%;
}

.prose code {
  overflow-wrap: break-word;
  text-wrap: auto;
}

.prose pre code {
  white-space: pre;
}

.vertical-mask {
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 0%) 30%,
    rgb(255 255 255 / 100%) 80%,
    rgb(255 255 255 / 100%) 100%
  );
}

.dark\:vertical-mask-gray-925:is(.dark *) {
  background: linear-gradient(to bottom, rgb(8 15 29 / 0%) 0%, rgb(8 15 29 / 0%) 30%, rgb(8 15 29 / 100%) 80%, rgb(8 15 29 / 100%) 100%);
}

.syntax-highlighted-code pre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  white-space: pre;
}

.syntax-highlighted-code pre code {
  min-width: 100%;
}

.syntax-highlighted-code.with-line-numbers pre code {
  counter-reset: step;
  counter-increment: step 0;
}

.syntax-highlighted-code.with-line-numbers pre code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1rem;
  display: inline-block;
  text-align: right;
  color: #94a3b8;
  font-size: 0.875em;
}

.syntax-highlighted-code pre code .line {
  padding-left: 1rem;
  padding-right: 1rem;
}

.syntax-highlighted-code pre code .line.highlighted {
  background-color: rgb(255 255 255 / 10%);
}

.code-walkthrough-prose h1 {
  margin-top: 1em !important;
}

.diff-highlight .removed-marker {
  color: rgb(186 0 103);
}

.diff-highlight .inserted-marker {
  color: #690;
}

.diff-highlight .removed-line {
  background-color: rgb(255 0 0 / 10%);
  user-select: none;
}

.dark .diff-highlight .removed-line {
  background-color: rgb(255 0 0 / 15%);
}

.diff-highlight .added-line {
  background-color: rgb(0 255 0 / 15%);
}

.number-input-with-no-controls::-webkit-outer-spin-button,
.number-input-with-no-controls::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-input-with-no-controls {
  appearance: textfield;
}

.blurred-overlay {
  filter: blur(4px);
}

.badge-earned-modal-prose b {
  /* medium */
  font-weight: 500;
}

.markdown-list ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.metabase-iframe {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media screen and (width >= 80em) {
  .metabase-iframe {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.has-prism-highlighting pre[class*='language-'] {
  background-color: #f1f5f9; /* slate-100 */
}

/* Override prism's 1em font-size */
.prose pre[class*='language-'] {
  font-size: 0.875em !important;
}

.prose.prose-sm pre[class*='language-'] {
  font-size: 1em !important;
}

.has-prism-highlighting pre[class*='language-']:is(.dark *) {
  background-color: oklch(21% 0.034 264.665deg); /* gray-900 */
}

.sortable-item {
  transition: all 0.06s;
}

.sortable-item.is-dragging {
  transition-duration: 0s;
  z-index: 10;
}

.sortable-item.is-dragging .highlight-while-dragging {
  background: #f8fafc;
}

.sortable-item.is-dropping .highlight-while-dragging {
  background: #f1f5f9;
  z-index: 10;
}

.ember-tooltip,
.ember-popover {
  z-index: 1000;
}

.ember-popover {
  background: #3a3c47;
  color: #fff;
  padding: 6px 10px;
  border: none;
  max-width: 200px; /* match tooltip for now */
}

.ember-popover[x-placement^='top'] .ember-popover-arrow {
  border-top-color: #3a3c47;
}

.ember-popover[x-placement^='right'] .ember-popover-arrow {
  border-right-color: #3a3c47;
}

.ember-popover[x-placement^='bottom'] .ember-popover-arrow {
  border-bottom-color: #3a3c47;
}

.ember-popover[x-placement^='left'] .ember-popover-arrow {
  border-left-color: #3a3c47;
}

.gift-card {
  animation: rotate-in 1.5s;

  /* Bouyant (https://www.easing.dev/bouyant) */
  /* prettier-ignore */
  animation-timing-function: linear(0 0%, 0.004379 1%, 0.017027 2%, 0.037197 3%, 0.064139 4%, 0.097098 5%, 0.135326 6%, 0.178089 7%, 0.224667 8%, 0.274366 9%, 0.326515 10%, 0.380476 11%, 0.435642 12%, 0.491445 13%, 0.547353 14%, 0.602874 15%, 0.65756 16%, 0.711 17%, 0.76283 18%, 0.812725 19%, 0.860402 20%, 0.90562 21%, 0.948177 22%, 0.98791 23%, 1.024693 24%, 1.058435 25%, 1.089077 26%, 1.116593 27%, 1.140987 28%, 1.162286 29%, 1.180545 30%, 1.19584 31%, 1.208266 32%, 1.217937 33%, 1.22498 34%, 1.229538 35%, 1.231761 36%, 1.231811 37%, 1.229853 38%, 1.226059 39%, 1.220603 40%, 1.213659 41%, 1.205403 42%, 1.196006 43%, 1.185638 44%, 1.174463 45%, 1.162638 46%, 1.150318 47%, 1.137645 48%, 1.124757 49%, 1.111781 50%, 1.098837 51%, 1.086034 52%, 1.073472 53%, 1.061241 54%, 1.04942 55%, 1.038082 56%, 1.027286 57%, 1.017084 58%, 1.007519 59%, 0.998624 60%, 0.990425 61%, 0.982939 62%, 0.976176 63%, 0.970139 64%, 0.964824 65%, 0.960222 66%, 0.956318 67%, 0.953091 68%, 0.950518 69%, 0.94857 70%, 0.947216 71%, 0.946423 72%, 0.946154 73%, 0.946371 74%, 0.947035 75%, 0.948105 76%, 0.949542 77%, 0.951304 78%, 0.953352 79%, 0.955646 80%, 0.958146 81%, 0.960816 82%, 0.963619 83%, 0.966522 84%, 0.96949 85%, 0.972494 86%, 0.975505 87%, 0.978496 88%, 0.981443 89%, 0.984323 90%, 0.987118 91%, 0.989809 92%, 0.992382 93%, 0.994822 94%, 0.99712 95%, 0.999265 96%, 1.001252 97%, 1.003076 98%, 1.004733 99%, 1.006221 100%);
}

@keyframes rotate-in {
  0% {
    transform: rotateY(-45deg);
    opacity: 0;
  }

  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.noisy-overlay {
  background-image: url('/assets/images/bkg-noise.webp');
  background-repeat: repeat;
  background-size: 200px 200px;
  mix-blend-mode: normal;
  opacity: 0.035;
  pointer-events: none;
}
