@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

@import "highlight-js-overrides.scss";
@import "modals.scss";

@import "ember-animated/dist/styles/ember-animated.css";
@import "prismjs/themes/prism.css";
@import "prismjs/plugins/diff-highlight/prism-diff-highlight.min.css";

.ember-basic-dropdown-trigger {
  outline: none !important;
}

.ember-basic-dropdown-content {
  background: none !important;
}

.h-160 {
  height: 40rem;
}

.copyable-code .border-text-mask {
  background: linear-gradient(to left, rgba(241, 245, 249, 1) 0%, rgba(241, 245, 249, 1) 20%, rgba(241, 245, 249, 0) 100%);
}

.top-50-percent {
  top: 50%;
}

.prose pre code {
  white-space: pre;
}
