.h-2px {
  height: 2px;
}

/* https://bengammon.co.uk/css-repeatable-linear-gradients-on-multiple-lines-of-text/ */
@layer utilities {
  .text-gradient-to-b {
    background-image: repeating-linear-gradient(to bottom, var(--tw-gradient-from), var(--tw-gradient-to) var(--tw-leading));
    color: transparent;
    background-clip: text;
  }
}

.animate-spin-once {
  animation: spin 1s 1;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid currentcolor;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid currentcolor;
}
