.h-2px {
  height: 2px;
}

/* https://bengammon.co.uk/css-repeatable-linear-gradients-on-multiple-lines-of-text/ */
@layer utilities {
  .bg-repeating-gradient-to-b {
    background-image: repeating-linear-gradient(to bottom, var(--tw-gradient-from), var(--tw-gradient-to) 1.75rem);
  }
}

.animate-spin-once {
  animation: spin 1s 1;
}
