<div>
  {{! @glint-expect-error isNew is not typed? }}
  {{#if @repository.isNew}}
    <div class="prose dark:prose-invert">
      <p>
        <span class="text-lg">⚠️</span>
        Select a language to see instructions to clone your repository.
      </p>
    </div>
  {{else}}
    <CopyableTerminalCommand
      @commands={{array (concat "git clone " @repository.cloneUrl " " @repository.cloneDirectory) (concat "cd " @repository.cloneDirectory)}}
      data-test-copyable-repository-clone-instructions
    />
  {{/if}}
</div>