<div data-test-push-empty-commit-step>
  <CopyableTerminalCommand @commands={{array "git commit --allow-empty -m 'test'" "git push origin master"}} class="mb-1.5" />

  <a href="#" {{on "click" @onTroubleshootingLinkClick}} class="flex items-center gap-0.5 pl-0.5">
    {{svg-jar "question-mark-circle" class="w-3 h-3 fill-current text-blue-500"}}

    <span class="text-blue-500 text-xs underline font-medium">
      Troubleshoot
    </span>
  </a>
</div>