<div class="border-b">
  <div class="container mx-auto lg:max-w-screen-lg pt-10 px-6">
    <LinkTo @route="course" class="group flex items-center text-gray-400 hover:text-gray-500 transition-colors mb-4">
      {{svg-jar "arrow-left" class="w-6 mr-2 fill-current"}}
      <span class="font-bold uppercase tracking-wide">Build your own Redis</span>
    </LinkTo>

    <div class="mb-6 text-2xl">
      <span class="text-gray-600">Solution:</span> <span class="font-bold text-gray-700"> Respond to multiple PINGs</span>
    </div>

    <div class="flex items-center">
      <div class="flex items-center px-3 py-2 mr-2 border-b-2 border-teal-500 text-sm">
        {{svg-jar "code" class="text-gray-600 w-5 mr-2 fill-current text-gray-600"}}
        <span class="font-medium text-gray-700">Diff</span>
      </div>
      <div class="flex items-center px-3 py-2 mr-2 border-b-2 border-gray-200 text-sm">
        {{svg-jar "academic-cap" class="text-gray-400 w-5 mr-2 fill-current text-gray-400"}}
        <span class="text-gray-600">Explanation</span>
      </div>
    </div>

    <div class="h-160">
    </div>
  </div>
</div>