<div
  class="leading-7 prose max-w-none has-prism-highlighting"
  {{did-insert this.handleDidInsertHTML}}
  {{did-update this.handleDidUpdateHTML @model.markdown}}
  ...attributes
>
  {{markdown-to-html @model.markdown}}
</div>