<div ...attributes>
  <TertiaryLinkButton @route="course-admin.stage-insights-index" @size="small" class="pl-1.5 mb-3">
    <div class="flex items-center">
      {{svg-jar "arrow-circle-left" class="w-4 h-4 mr-1.5 text-gray-500"}}

      <span>
        Back
      </span>
    </div>
  </TertiaryLinkButton>

  <div class="flex items-start justify-between">
    <div>
      <h3 class="text-2xl font-bold text-gray-700 mb-2">
        {{@stage.name}}
      </h3>
    </div>
    <div class="flex flex-col items-end">
      <LinkTo
        @route="course.stage.instructions"
        @models={{array @stage.course.slug @stage.identifierForURL}}
        class="text-gray-400 flex items-center hover:text-gray-600"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{svg-jar "github" class="inline-flex w-4 mr-1 fill-current"}}
        <span class="text-xs underline font-medium">View instructions</span>
      </LinkTo>
    </div>
  </div>
</div>