# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Dependabot doesn't currently support Bun's `bun.lock` lockfile format.
  # If you want automated dependency updates, consider adding Renovate instead.
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
