<Settings::FormSection @title="Renewal" @description="Details of your upcoming payment">
  <Settings::BillingPage::StatusPill @color="gray" class="mb-3">
    Auto-renew disabled
  </Settings::BillingPage::StatusPill>
  <div class="prose prose-sm prose-compact dark:prose-invert">
    Your membership does not renew automatically. Once your membership expires, you'll be able to make a new one-time payment.
  </div>
</Settings::FormSection>