{{! @glint-nocheck: not typesafe yet !}}
<div class="pt-8 pb-16">
  <CoursePage::CourseCompletedCard @repository={{@model.activeRepository}} @onPublishToGithubClick={{(noop)}} @class="mb-4 max-w-[80ch]" />
</div>