<div class="prose prose-sm">
  <ul>
    <li>
      {{this.formattedScoreReason}}
    </li>
    {{#each this.formattedEvaluationResults as |evaluation|}}
      <li>
        {{evaluation.result}}
        <code>{{evaluation.check}}</code>
        check
      </li>
    {{/each}}
    <li>
      ±
      {{@solution.changedLinesCount}}
      lines changed
    </li>
  </ul>
</div>