# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env
/.pnp*
/.eslintcache
/.stylelintcache
/tsconfig.tsbuildinfo
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log
/.history/
/.lh/
/.idea/

# broccoli-debug
/DEBUG/

.aider*
.claude/
.machtiani.ignore
