# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# ember-cli-mirage
/mirage/course-fixtures/

# assets
/public/assets/

# index.html ends up weirdly formatted
/app/index.html
/tests/index.html
