# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

# ember-cli-mirage
/mirage/course-fixtures/

# assets
/public/assets/
