<div class="flex flex-col items-center gap-8 pt-8" ...attributes data-test-rejected-step-container>
  {{svg-jar "shield-exclamation" class="w-16 h-16 text-red-600"}}

  <div class="prose prose-sm text-center">
    <p>
      This email address has already been used to apply for the Campus Program.
    </p>
  </div>

  <PrimaryButton {{on "click" @onChangeOrResendEmailButtonClick}}>
    Change email
  </PrimaryButton>

  <div class="text-xs text-gray-500">
    Need help?
    <a href="mailto:hello@codecrafters.io" class="underline">hello@codecrafters.io</a>
  </div>
</div>