<LinkTo @route={{@route}} class="flex group/vertical-tab-list-item rounded {{if this.isActive 'bg-blue-100' 'hover:bg-gray-100'}} p-2">
  <span
    class="{{if this.isActive 'font-semibold text-blue-500' 'font-medium text-gray-600 group-hover/vertical-tab-list-item:text-gray-700'}}"
  >{{@label}}</span>
</LinkTo>