{{! @glint-nocheck: not typesafe yet }}
{{! TODO: @willBeReplaced isn't used at the moment - see if we can change this to handle that }}
<div class="bg-gray-50 rounded-md {{@class}}" data-test-expanded-item ...attributes>
  <div class="bg-white rounded-t border border-b-0 border-gray-300 relative">
    <div class="p-5 pb-4 md:p-8 md:pb-6">
      {{yield to="content"}}
    </div>
  </div>

  <div class="border border-gray-300 border-t rounded-b relative">
    <div class="h-px w-full bg-gray-200 bg-opacity-50 absolute -top-px"></div>

    <div class="px-5 md:px-8 min-h-[40px] flex items-center">
      <div class="w-full">
        {{yield to="footerContent"}}
      </div>
    </div>
  </div>
</div>