<div class="grid grid-cols-1 sm:grid-cols-2" ...attributes>
  <div class="pb-6 pr-0 sm:pb-0 sm:pr-4">
    <div class="text-gray-700 font-semibold text-lg">{{@title}}</div>
    <div class="text-gray-400 text-xs mt-1">{{@description}}</div>

    {{#if (has-block "belowDescription")}}
      <div class="mt-2">
        {{yield to="belowDescription"}}
      </div>
    {{/if}}
  </div>

  <div>
    {{yield}}
  </div>
</div>