<button
  type="button"
  class="pr-2.5 pl-2 py-1.5 rounded shadow-sm flex items-center border border-gray-300 hover:border-gray-400 transition-colors duration-75"
  ...attributes
  {{on "click" this.handleClick}}
>
  {{svg-jar "chevron-double-up" class="w-4 py-0.5 mr-1.5 text-teal-500"}}

  <span class="text-sm text-gray-700">
    <span class="font-semibold">{{@courseIdea.supervotes.length}}</span>
    supervotes
  </span>

  {{#if this.currentUserService.isAnonymous}}
    <EmberTooltip @text="Click to login via GitHub" />
  {{/if}}
</button>