<a href="https://docs.codecrafters.io/membership/content" target="_blank" rel="noopener noreferrer" data-test-indirect-member-badge ...attributes>
  <PrimaryButton @size={{this.linkButtonSize}}>
    <span class="flex items-center gap-1 flex-nowrap">
      <span>Member</span>
      {{svg-jar "shield-check" class="w-4 fill-current"}}
    </span>

    <EmberTooltip @text="You have access to all CodeCrafters membership benefits. Click here to learn more." />
  </PrimaryButton>
</a>