<PrimaryButton @size={{this.buttonSize}} data-test-vip-badge ...attributes>
  <div class="flex items-center gap-1 flex-nowrap">
    <span>VIP</span>
    {{svg-jar "shield-check" class="w-4 fill-current"}}
  </div>

  {{#if this.currentUser.vipStatusExpiresAt}}
    <EmberTooltip
      @text="You have access to all CodeCrafters content & membership features until {{date-format
        this.currentUser.vipStatusExpiresAt
        format="PPP"
      }}."
    />
  {{else}}
    <EmberTooltip @text="You have access to all CodeCrafters content & membership features." />
  {{/if}}
</PrimaryButton>