<pre class="font-mono text-white" ...attributes><code>{{ansi-to-html @content}}<span
      class="inline-block bg-gray-300 mx-0.5 w-2 h-3.5 animate-blink-fast transform translate-y-0.5"
    ></span></code></pre>