<div ...attributes>
  <pre class="font-mono text-white"><code>{{ansi-to-html @content}}<span
        class="inline-block bg-gray-300 mx-0.5 w-2 h-4 animate-blink-fast transform translate-y-0.5"
      ></span></code></pre>
</div>