<pre class="font-mono text-white" ...attributes {{did-update this.handleDidUpdateContent @content}}><code>{{html-safe this.displayHTML}}<span
      class="inline-block bg-gray-300 mx-0.5 w-2 h-[0.75rem] animate-blink-fast transform translate-y-px"
    ></span></code></pre>