<div class="inline-flex border border-teal-500 bg-teal-500 rounded px-1.5 py-0.5 w-fit" data-test-beta-course-extension-label ...attributes>
  <span class="font-semibold text-white text-xs">BETA</span>
  <EmberTooltip
    @text="This extension is in beta. During this time, some features (like code examples) might not have enough data available."
  />
</div>