<div class="relative" ...attributes>
  {{yield to="content"}}

  {{#if @isBlurred}}
    <div class="absolute inset-0 bg-black bg-opacity-20 z-10 backdrop-blur-sm flex items-start justify-center">
      {{yield to="overlay"}}
    </div>
  {{/if}}
</div>