<div class="relative">
  {{yield}}

  {{#if @isBlurred}}
    <div class="absolute inset-0 bg-black bg-opacity-20 z-10 backdrop-blur-sm flex items-start justify-center">
      <PrimaryButton {{on "click" @onUnblur}} class="mt-8">
        Reveal Diff
      </PrimaryButton>
    </div>
  {{/if}}
</div>