{{! @glint-nocheck: not typesafe yet }}
<div class="flex flex-nowrap overflow-x-hidden">
  <div class="animate-infinite-slide flex shrink-0">
    {{#each @images as |image|}}
      <img src="{{image.imageUrl}}" alt="{{image.name}}" class="h-16 mx-6 shrink-0" />
    {{/each}}
  </div>
  <div class="animate-infinite-slide flex shrink-0">
    {{#each @images as |image|}}
      <img src="{{image.imageUrl}}" alt="{{image.name}}" class="h-16 mx-6 shrink-0" />
    {{/each}}
  </div>
</div>