<div class="flex items-stretch w-full copyable-code" ...attributes>
  <div class="px-3 py-1.5 flex-grow-1 w-full overflow-x-scroll border border-gray-300 border-r-0 rounded-l bg-gray-100">
    <span class="whitespace-nowrap font-mono text-gray-600 text-xs">
      {{@code}}
    </span>
  </div>

  <div class="relative flex items-stretch">
    <button
      type="button"
      class="bg-teal-600 px-3 py-1 text-white flex items-center rounded-r rounded-l-none text-sm font-bold"
      {{on "click" this.handleCopyButtonClick}}
      data-test-copy-button
    >
      {{if this.codeWasCopiedRecently "COPIED" "COPY"}}
    </button>
    <div class="absolute top-px bottom-px -left-6 w-6 bg-gray-300 border-text-mask">
    </div>
  </div>
</div>