<div class="flex items-stretch w-full copyable-code" ...attributes>
  <div
    class="px-3 py-1.5 grow-1 w-full overflow-x-auto border border-gray-300 dark:border-white/10 border-r-0 rounded-l
      {{if (eq @backgroundColor 'white') 'bg-white dark:bg-gray-950' 'bg-gray-100 dark:bg-gray-900'}}"
  >
    <span class="whitespace-nowrap font-mono text-gray-600 dark:text-gray-400 text-xs">
      {{@code}}
    </span>
  </div>

  <div class="relative flex items-stretch">
    <button
      type="button"
      class="bg-teal-600 dark:bg-teal-900 border border-teal-600 dark:border-teal-700 px-3 py-1 text-white flex items-center rounded-r rounded-l-none text-sm font-bold"
      {{on "click" this.handleCopyButtonClick}}
      data-test-copy-button
    >
      {{if this.codeWasCopiedRecently "COPIED" "COPY"}}
    </button>
    <div
      class="absolute top-px bottom-px -left-6 w-6 bg-gradient-to-l from-gray-300 dark:from-gray-950 via-20% via-gray-300 dark:via-gray-950 to-transparent"
    >
    </div>
  </div>
</div>