{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-inline-styles }}
<a
  href={{@link}}
  target="_blank"
  role="button"
  style="color: #ff4000; border: 1px solid #ff4000;"
  class="text-sm inline-flex rounded px-3 py-2 font-bold filter"
  ...attributes
  rel="noopener noreferrer"
>
  Discuss on HN
</a>