{{! template-lint-disable no-inline-styles }}
<div role="button" style="color: #ff4000; border: 1px solid #ff4000;" class="text-sm inline-flex rounded px-3 py-2 font-bold filter">
  Discuss on HN
</div>