<div class="p-4 bg-gray-50 shadow max-w-sm z-20" ...attributes>
  <div class="pb-3 text-sm font-bold underline text-gray-700">
    Fake Data
  </div>

  <div class="flex flex-col items-start">
    <PrimaryButton @isDisabled={{not @repository.id}} {{on "click" this.handleCreateSubmissionButtonClick}} @size="small">
      Create Submission
    </PrimaryButton>

    {{#if @repository.lastSubmission.statusIsEvaluating}}
      <DangerButton {{on "click" this.handleFailTestsButtonClick}} @size="small">
        Fail Tests
      </DangerButton>

      <PrimaryButton type="button" {{on "click" this.handlePassTestsButtonClick}} @size="small">
        Pass Tests
      </PrimaryButton>
    {{/if}}
  </div>
</div>