<div
  class="inline-flex text-xs text-white dark:text-teal-300 font-semibold border border-teal-500 dark:border-teal-800 bg-teal-500 dark:bg-teal-900 rounded px-1.5 py-0.5 w-fit"
  data-test-course-free-label
  ...attributes
>
  {{this.labelCopy}}
  <EmberTooltip @text={{this.tooltipCopy}} @side={{this.tooltipSide}} />
</div>