<div
  class="inline-flex text-xs text-white font-semibold border border-teal-500 bg-teal-500 rounded px-1.5 py-0.5 w-fit"
  data-test-course-free-label
  ...attributes
>
  FREE
  <EmberTooltip
    @text="This challenge is free to try when it's in beta. We keep challenges in beta for a few weeks to gather feedback."
    @side={{this.tooltipSide}}
  />
</div>