<div
  class="inline-flex text-xs text-white font-semibold border border-teal-500 bg-teal-500 rounded px-1.5 py-0.5 w-fit"
  data-test-course-free-label
  ...attributes
>
  {{this.labelCopy}}
  <EmberTooltip @text={{this.tooltipCopy}} @side={{this.tooltipSide}} />
</div>