<div 
  class="gleam-logo-container" 
  {{did-insert this.setupRive}} 
  {{will-destroy this.cleanupRive}}
  {{on "mouseenter" this.handleMouseEnter}}
  {{on "mouseleave" this.handleMouseLeave}}
>
  {{!-- The canvas will be inserted here by Rive --}}
</div> 