<div class="shadow bg-white relative" {{did-insert this.handleDidInsert}} data-test-header>
  <div class="w-full absolute top-0 left-0 bg-teal-500 h-2px"></div>

  <div class="container lg:max-w-screen-lg mx-auto flex items-stretch flex-col md:flex-row">
    <div class="flex items-center justify-between">
      {{! Logo }}
      <div class="text-gray-600 pr-5 text-sm px-3 md:px-6 py-4 flex-grow">
        <LinkTo @route="tracks">CodeCrafters</LinkTo>
      </div>

      {{! Nav Toggle on Mobile }}
      <button class="md:hidden text-gray-600 pl-10 pr-3 py-3 focus:outline-none" type="button" {{on "click" this.toggleMobileMenu}}>
        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path
            class="heroicon-ui"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
          ></path>
        </svg>
      </button>
    </div>

    {{! Desktop  }}
    <div class="hidden md:flex items-center justify-between flex-grow">
      <div class="flex items-center">
        {{! Divider }}
        <div class="bg-gray-400 w-px h-5 mr-3"></div>

        {{! Top-level links }}
        <LinkTo @route="tracks" class="text-sm px-2 text-gray-600" data-test-tracks-link>Tracks</LinkTo>

        {{#if this.currentUser.isAdmin}}
          <a href="/admin" class="text-sm px-2 text-gray-600">Admin</a>
        {{/if}}
      </div>

      {{! Account Dropdown on Desktop }}
      <div class="invisible md:visible mx-6">
        {{#if this.currentUserService.isAuthenticated}}
          <Header::AccountDropdown />
        {{else}}
          <Header::SignInWithGithubButton />
        {{/if}}
      </div>
    </div>

    {{! Mobile }}
    {{#if this.mobileMenuIsExpanded}}
      <div class="md:hidden flex-col items-center flex-grow px-3">
        <div class="bg-gray-300 h-px w-full">
        </div>

        <div class="py-3">
          <LinkTo @route="tracks" class="block text-sm py-3 text-gray-600">Tracks</LinkTo>

          {{#if this.currentUser.isAuthenticated}}
            <Header::AccountDropdown />
          {{else}}
            <Header::SignInWithGithubButton />
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>