<div
  class="rounded-md shadow-xs overflow-hidden border border-gray-300 dark:border-white/10 relative shrink overflow-y-auto px-4 py-8 sm:px-8 min-h-0 bg-white dark:bg-gray-925"
  {{on-click-outside this.handleClickOutside}}
  ...attributes
>
  {{yield}}

  {{#if @shouldShowCloseButton}}
    <button
      class="absolute right-4 top-4 sm:right-8 sm:top-8 opacity-60 hover:opacity-100"
      type="button"
      {{on "click" this.handleCloseButtonClick}}
      data-test-close-modal-button
    >
      {{svg-jar "x" class="w-5 h-5 text-gray-400"}}
    </button>
  {{/if}}
</div>