<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm relative" data-test-private-leaderboard-feature-suggestion ...attributes>
  <div class="mr-3 mt-0.5">
    {{svg-jar "user-group" class="w-6 fill-current text-blue-400"}}
  </div>

  <div class="text-blue-900 prose prose-blue leading-7 text-sm">
    Want a private leaderboard?
    <span role="button" class="font-bold underline text-blue-700" {{on "click" this.handleCreateTeamButtonClick}}>Create a team</span>
    for free.
  </div>

  <button
    class="absolute right-3 top-3 opacity-60 hover:opacity-100"
    type="button"
    {{on "click" this.handleDismissButtonClick}}
    data-test-dismiss-button
  >
    {{svg-jar "x" class="w-3 h-3 text-blue-500"}}
  </button>
</div>