<AlertWithIcon
  @type="info"
  @icon="user-group"
  @isDismissable={{true}}
  @onDismiss={{this.handleDismissButtonClick}}
  data-test-private-leaderboard-feature-suggestion
  ...attributes
>
  Private leaderboards are here.
  <br />
  <span role="button" class="font-semibold underline" {{on "click" this.handleCreateTeamButtonClick}}>Create one for your team.</span>
</AlertWithIcon>