<AlertWithIcon
  @type="info"
  @isDismissable={{this.isDismissable}}
  @onDismiss={{this.handleDismissButtonClick}}
  ...attributes
  data-test-product-walkthrough-feature-suggestion
>
  <p>
    New here?
    <b role="button" class="underline" {{on "click" this.handleViewWalkthroughButtonClick}} data-test-start-here-button>Start here</b>
    to learn how challenges work.
  </p>
</AlertWithIcon>