<Alert @type="info" class="relative" ...attributes data-test-product-walkthrough-feature-suggestion>
  <span class="leading-7 inline-block mr-10">
    New here?
    <span
      role="button"
      class="font-bold underline text-blue-700"
      {{on "click" this.handleViewWalkthroughButtonClick}}
      data-test-start-here-button
    >Start here</span>
    to learn how challenges work.
  </span>

  <div class="absolute right-3 top-0 bottom-0 flex items-center justify-center">
    <button
      class="border border-blue-300 p-1 rounded hover:bg-blue-200"
      type="button"
      {{on "click" this.handleDismissButtonClick}}
      data-test-dismiss-button
    >
      {{svg-jar "x" class="w-5 h-5 text-blue-500"}}
    </button>
  </div>
</Alert>