<ModalBody data-test-subscribe-modal>
  <h3 class="text-xl font-bold mb-6 text-teal-600">Subscribe</h3>

  <div class="leading-relaxed text-gray-800">
    <p class="mb-4">
      A CodeCrafters subscription gives you unlimited access to all of our challenges.
    </p>

    <p class="mb-4">
      A subscription costs
      <span class="font-bold text-teal-600">$29/month</span>
      if billed monthly, and
      <span class="font-bold text-teal-600">$19/month</span>
      if billed yearly.
    </p>

    <p class="mb-4">
      You can switch between plans or cancel your subscription at any time.
    </p>
  </div>

  <button
    type="button"
    class="bg-teal-600 active:bg-teal-700 px-4 py-3 text-white rounded shadow-sm font-bold flex items-center"
    {{on "click" this.handleSubscribeButtonClick}}
    data-test-subscribe-button
  >
    Subscribe Now

    {{#if this.isCreatingCheckoutSession}}
      <svg class="animate-spin ml-3 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    {{/if}}
  </button>
</ModalBody>