<ModalBody>
  <h3 class="text-xl font-bold mb-6 text-teal-600">Subscribe</h3>

  <div class="leading-relaxed text-gray-800">
    <p class="mb-4">
      A CodeCrafters subscription gives you access to all of our challenges.
    </p>

    <p class="mb-4">
      A subscription costs <span class="font-bold text-teal-600">$29/month</span> if billed monthly, and
      <span class="font-bold text-teal-600">$19/month</span> if billed yearly.
    </p>

    <p class="mb-4">
      You can switch between plans or cancel your subscription at any time.
    </p>
  </div>

  <button class="bg-teal-600 px-4 py-3 text-white rounded shadow-sm font-bold">
    Subscribe Now
  </button>

  <div class="text-gray-600 text-sm mt-4">
    Full-time student? <a href="#" class="underline">Click here.</a>
  </div>
</ModalBody>