<div
  class="syntax-highlighted-code text-gray-800 dark:text-gray-200 leading-6 {{if @shouldDisplayLineNumbers 'with-line-numbers'}}"
  {{did-update this.handleDidUpdateCode @code}}
  {{did-update this.handleDidUpdateTheme @theme}}
  ...attributes
>
  {{html-safe this.highlightedHtml}}
</div>