<div class="py-4 overflow-x-scroll" ...attributes>
  {{! prettier-ignore }}
  <pre class="shiki github-light">{{!
    }}<code class="block diff-highlight min-w-fit">{{!
      }}{{#each this.linesForRender as |line|}}{{!
        }}<div class="px-2 {{line.type}}-line min-w-fit"
          >{{!
          }}{{#if (eq line.type "added")}}{{!
              }}<span class="inserted-marker select-none">+ </span>{{!
            }}{{else if (eq line.type "removed")}}{{!
              }}<span class="removed-marker select-none">- </span>{{!
            }}{{else}}{{!
              }}<span class="unchanged-marker select-none">  </span>{{!
            }}{{/if}}{{!
          }}{{line.html}}{{!
        }}</div>{{!
      }}{{/each}}{{!
    }}</code>{{!
}}</pre>
</div>