<button
  type="button"
  class="px-3 py-2 rounded shadow-sm font-semibold flex items-center border border-gray-300 bg-gray-50 hover:bg-gray-100 transition-colors duration-75
    {{if (eq @size 'small') 'text-sm' 'text-base'}}
    text-gray-600 hover:text-gray-700"
  ...attributes
>
  {{yield}}
</button>