{{#if this.label}}
  <span class="bg-gray-400 text-white px-1 py-0.5 rounded font-semibold text-xs {{if this.isCourseRoute 'ml-1'}}" data-test-user-label>
    {{this.label.text}}
    <EmberTooltip @text={{this.label.tooltipText}} />
  </span>
{{/if}}