<div class="px-3 py-3 hover:bg-gray-50 flex items-center group" role="button" ...attributes data-test-insert-block-marker-dropdown-item>
  {{svg-jar @icon class="w-6 text-gray-300 group-hover:text-teal-500 mr-4"}}

  <div>
    <div class="font-semibold text-gray-700" data-test-title>
      {{@title}}
    </div>

    <div class="text-xs text-gray-400">
      {{@description}}
    </div>
  </div>
</div>