<div data-test-markdown-block-editor>
  <Textarea
    @value={{@model.markdown}}
    class="text-sm rounded px-3 py-2 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-500 border border-gray-300 shadow-sm"
    placeholder="Learn about various network protocols and the TCP/IP model."
    rows="3"
    cols="80"
    id="concept_description"
    required
    {{autoresize @model.markdown}}
    {{convert-link-to-markdown}}
  />
</div>