{{page-title "Manage Team"}}

<div class="container mx-auto lg:max-w-screen-lg pt-10 pb-48 px-6">
  <h1 class="font-bold text-2xl text-gray-700 mb-8 flex-shrink-0">Create Team</h1>

  <p class="block mb-6 text-gray-600">
    CodeCrafters is better with teammates! Creating a team gives you the following features:
  </p>

  <CreateTeamPage::FeaturesList />

  <div class="bg-gray-200 h-px w-full my-8"></div>

  <CreateTeamPage::Form @currentTeams={{this.model.currentTeams}} />
  <CreateTeamPage::CurrentTeamsList @currentTeams={{this.model.currentTeams}} />
</div>