{{page-title "Setup Team"}}

<div class="container mx-auto lg:max-w-screen-lg pt-16 pb-48 px-6">
  <div class="flex flex-col items-center">
    <h1 class="text-center text-3xl text-gray-700 font-bold tracking-tighter mb-12">Setup your team</h1>
    <TeamPaymentPage::NavigationContainer class="mb-24" />
    <TeamPaymentPage::TeamDetailsForm />
  </div>
</div>