<Settings::FormSection @title="Username" @description="Your publicly visible username on CodeCrafters">
  <div>
    {{! template-lint-disable require-input-label }}
    <Input
      @value={{@user.username}}
      class="text-sm rounded px-3 py-2 bg-gray-50 border w-full text-gray-500 font-mono cursor-not-allowed"
      placeholder="cool_username"
      disabled={{true}}
    />

    {{!-- TODO: Bring this back once implemented }}
    {{!-- <EmberTooltip @text="This value is synced with your GitHub account. Click on the refresh button below to update your username." /> --}}
    <EmberTooltip @text="This value is synced with your GitHub account." />
  </div>
  <div class="text-gray-400 text-xs mt-1">
    This value is synced with your GitHub account.
  </div>

  {{!-- TODO: Bring this back once implemented }}
  {{!-- <TertiaryButtonWithSpinner @size="extra-small" class="mt-4" @shouldShowSpinner={{false}}>
    <div class="flex items-center gap-1">
      {{svg-jar "refresh" class="w-4 h-4 text-gray-400"}}
      Refresh from GitHub
    </div>
  </TertiaryButtonWithSpinner> --}}
</Settings::FormSection>