<div
  class="flex items-center
    {{if @isSelected 'bg-white'}}
    px-3 py-3 rounded-full border-2
    {{if @isSelected 'border-teal-500' 'border-gray-300 bg-gray-100'}}"
  role="button"
  ...attributes
>
  <CourseLogo @course={{@course}} class="h-4 mr-2" />
  <div class="text-sm text-gray-700">{{@course.name}}</div>
</div>