<h1 class="text-3xl text-gray-700 font-bold tracking-tighter mb-3">Vote</h1>

<p class="text-gray-500 mb-6">
  Help us decide what content to build next.
</p>

<div class="flex mb-8 border-b overflow-x-auto">
  <VotePage::TabLink @text="Challenge Ideas" @isActive={{eq this.activeTab "challenges"}} @route="vote.course-ideas" />
  <VotePage::TabLink @text="Challenge Extension Ideas" @isActive={{eq this.activeTab "challenge-extensions"}} @route="vote.course-extension-ideas" />
</div>