<div
  class="group border-2 border-dashed hover:border-gray-400 px-5 py-10 rounded-md flex flex-col items-center justify-center text-gray-400 hover:text-gray-600"
  data-test-submit-course-idea-card
  role="button"
  data-tf-popup="kJNvFVQM"
  data-tf-iframe-props="title=Challenge Idea"
  data-tf-medium="snippet"
  data-tf-hidden="github_username={{this.currentUserService.record.username}}"
>
  {{svg-jar "plus" class="w-12 h-12 fill-current"}}

  <div class="mt-1 font-bold text-xl tracking-tight">
    Submit Idea
  </div>
</div>