{{! @glint-nocheck: not typesafe yet }}
<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm relative" data-test-private-leaderboard-feature-suggestion ...attributes>
  <div class="mr-3 mt-0.5">
    {{svg-jar "clock" class="w-6 fill-current text-blue-400 animate-pulse"}}
  </div>

  <div class="text-blue-700 prose prose-blue leading-7">
    Limited offer: Subscribe by
    <span class="font-semibold">{{moment-format @expiresAt "LLL"}}</span>
    to get
    <span class="font-semibold">40% off</span>
    the annual plan.
  </div>
</div>