<a
  class="relative lg:flex mt-16 w-full max-w-screen-xl rounded border border-gray-200 hover:border-gray-300 bg-white h-[584px] sm:h-80 overflow-hidden group/monthly-challenge-banner transition-all"
  href="https://codecrafters.io/aug-2023"
  target="_blank"
  rel="noopener noreferrer"
  data-test-monthly-challenge-banner
  ...attributes
>
  <div class="relative text-left sm:text-center lg:text-left z-10 my-9 lg:my-auto px-6 lg:px-16">
    <div class="py-2 px-5 w-fit sm:mx-auto lg:mx-0 font-bold rounded-full text-teal-500 bg-white border border-teal-500">
      AUG 2023 CHALLENGE
    </div>

    <div class="font-bold pt-4 pb-8 text-lg lg:text-2xl text-slate-600 group-hover/monthly-challenge-banner:text-slate-700">
      Complete any one challenge.<br />
      Win an AirPods Max →
    </div>

    <PrimaryButton @route="https://codecrafters.io/aug-2023">Learn how →</PrimaryButton>
  </div>
  <div
    class="absolute -bottom-16 sm:bottom-1/2 lg:right-0 px-2 vertical-mask transform sm:translate-y-1/2 scale-75 sm:scale-90 group-hover/monthly-challenge-banner:scale-90 sm:group-hover/monthly-challenge-banner:scale-100 transition-transform"
  >
    <img alt="airpods max" src={{this.airpodsImage}} />
  </div>
</a>