<a
  class="flex flex-col lg:flex-row justify-between items-center w-full rounded-lg border border-gray-100 hover:border-gray-200 bg-white lg:h-72 overflow-hidden group/monthly-challenge-banner transition-all"
  href={{this.monthlyChallengeBanner.url}}
  target="_blank"
  rel="noopener noreferrer"
  data-test-monthly-challenge-banner
  ...attributes
>
  <div class="relative text-left sm:text-center lg:text-left z-10 my-9 lg:my-auto px-6 lg:px-10">
    <div class="py-2 px-4 w-fit sm:mx-auto lg:mx-0 font-bold rounded-full text-teal-500 bg-white border border-2 border-teal-500">
      DEC 2023 CHALLENGE
    </div>

    <div class="font-bold pt-4 pb-8 w-fit text-lg lg:text-2xl text-slate-600 group-hover/monthly-challenge-banner:text-slate-700">
      Complete 1 challenge.<br />
      Win a ZSA Moonlander.
    </div>

    <PrimaryButton>Learn how →</PrimaryButton>
  </div>

  <div class="max-w-xl scale-100 group-hover/monthly-challenge-banner:scale-110 transition-transform px-2 lg:px-4 mb-9 lg:mb-0">
    <img alt={{this.monthlyChallengeBanner.imageAltText}} src={{this.monthlyChallengeBanner.smallImage}} />
  </div>
</a>