<div class="rounded-lg border filter drop-shadow-lg w-80 max-w-full" ...attributes>
  <div class="flex flex-col items-center bg-white rounded-t-lg py-12 border-b">
    <div class="text-xl font-bold text-gray-700">
      Go mastery track
    </div>
    <div class="font-bold mt-8">
      <span class="text-6xl text-gray-700 font-bold">${{@actualMonthlyPrice}}</span>
      <span class="text-lg text-gray-400 font-bold">/mo</span>
    </div>
    <div class="mt-8 text-sm text-gray-600">
      Ideal for your learning budget.
    </div>
  </div>
  <div class="bg-gray-100 p-6 rounded-b-lg">
    {{#each this.featureDescriptions as |featureDescription|}}
      <div class="flex items-center py-1">
        {{svg-jar "check" class="w-6 fill-current text-teal-500"}}
        <span class="text-gray-600 text-sm ml-2">{{featureDescription}}</span>
      </div>
    {{/each}}
  </div>
</div>