<div class="rounded-lg border filter drop-shadow-lg w-80 max-w-full" ...attributes>
  <div class="flex flex-col items-center bg-white rounded-t-lg border-b px-6">
    <div class="text-xl font-bold text-gray-700 mt-12">
      Go mastery track
    </div>

    <div class="font-bold mt-6">
      <span class="text-6xl text-gray-700 font-bold">${{@actualMonthlyPrice}}</span>
      <span class="text-lg text-gray-400 font-bold">/mo</span>
    </div>

    <div class="mt-8 text-sm text-gray-600">
      Ideal for your learning budget.
    </div>

    {{#if @discountedMonthlyPrice}}
      <div class="p-3 text-lg bg-teal-100 border border-teal-300 rounded shadow-sm mt-6 text-teal-700 mb-6">
        🤫
        <span class="font-bold">${{@discountedMonthlyPrice}}</span><span>/mo</span>
        <span> if you signup before July 1st.</span>
      </div>
    {{/if}}
  </div>
  <div class="bg-gray-100 p-6 rounded-b-lg">
    {{#each this.featureDescriptions as |featureDescription|}}
      <div class="flex items-center py-1">
        {{svg-jar "check" class="w-6 fill-current text-teal-500"}}
        <span class="text-gray-600 text-sm ml-2">{{featureDescription}}</span>
      </div>
    {{/each}}
  </div>
</div>