<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm relative" data-test-private-leaderboard-feature-suggestion ...attributes>
  <div class="mr-3 mt-0.5">
    {{(svg-jar "clock" class="w-6 fill-current text-blue-400 animate-pulse")}}
  </div>

  <div class="text-blue-700 prose prose-blue leading-7">
    <AvatarImage
      @user={{@referralActivation.referrer}}
      class="inline-block mb-0 w-6 h-6 border border-gray-100 rounded-full transform -translate-y-px"
    />

    <b>{{@referralActivation.referrer.username}}</b>'s referral offer: Subscribe by
    <span class="font-semibold">{{moment-format @referralActivation.discountPeriodEndsAt "LLL"}}</span>
    to get
    <span class="font-semibold">$400 off</span>
    the annual plan.
  </div>
</div>