<div
  class="border rounded-sm flex items-start p-4 border-teal-400 dark:border-teal-500/60 bg-teal-50 dark:bg-teal-900/30"
  data-test-regional-discount-notice
  ...attributes
>
  {{svg-jar "globe" class="w-8 h-8 mr-2 shrink-0 text-teal-400 dark:text-teal-500 transform scale-90"}}

  <div class="py-1">
    <div class="text-teal-700 dark:text-teal-400 text-sm leading-relaxed">
      Looks like you're from
      <b>{{@regionalDiscount.countryName}}</b>. We've applied a PPP (Purchasing Power Parity) discount of
      <b>{{@regionalDiscount.percentOff}}%</b>
      for you.
    </div>
  </div>
</div>