<div class="border rounded-sm flex items-start p-4 border-green-400 bg-green-50" data-test-regional-discount-notice ...attributes>
  {{svg-jar "globe" class="w-8 h-8 mr-2 shrink-0 text-green-400 transform scale-90"}}

  <div class="py-1">
    <div class="text-green-700 text-sm leading-relaxed">
      Looks like you're from
      <b>{{@regionalDiscount.countryName}}</b>. We've applied a PPP (Purchasing Power Parity) discount of
      <b>{{@regionalDiscount.percentOff}}%</b>
      for you.
    </div>
  </div>
</div>