<div class="border rounded flex items-start p-4 border-green-400 bg-green-50" data-test-regional-discount-notice ...attributes>
  {{svg-jar "globe" class="w-8 h-8 mr-2 flex-shrink-0 text-green-400 transform scale-90"}}

  <div class="py-1">
    <div class="text-green-700 text-sm leading-relaxed">
      Looks like you're from
      <b>{{@regionalDiscount.countryName}}</b>. If you need it, you can opt-in for a PPP (Purchasing Power Parity) discount.
    </div>

    <div class="mt-3 flex items-center">
      <Input @type="checkbox" @checked={{@shouldApplyRegionalDiscount}} />
      <span class="text-green-700 text-sm ml-2">
        I'd like to apply a
        {{@regionalDiscount.percentOff}}% discount.
      </span>
    </div>
  </div>
</div>