<div class="flex items-center" data-test-concept-card-progress ...attributes>
  <div class="size-5 mr-1.5">
    <ProgressDonut
      @total={{100}}
      @completed={{@latestConceptEngagement.currentProgressPercentage}}
      @color="teal"
      data-test-concept-card-progress-bar
      data-test-concept-card-progress-donut
    />
  </div>

  <div class="text-xs text-teal-500 mr-3" data-test-concept-card-progress-text>
    <b class="font-bold">{{@latestConceptEngagement.currentProgressPercentage}}%</b>
    complete
  </div>
</div>