<div class="bg-white">
  <div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6">
    <div class="flex">
      <div class="pr-8 pt-10 pb-20 w-full min-w-0">
        <CodeWalkthrough @model={{@codeWalkthrough}} />
      </div>
      <div class="border-l flex-shrink-0 w-64 pt-10">
        <div class="pl-8 mb-6">
          <CodeWalkthroughPage::MetadataItem @icon="clock">
            <span class="font-semibold">12 min</span>
            reading time
          </CodeWalkthroughPage::MetadataItem>
          <CodeWalkthroughPage::MetadataItem @icon="calendar">
            updated
            <span class="font-semibold">1 hour ago</span>
          </CodeWalkthroughPage::MetadataItem>
        </div>

        <div class="pl-8">
          <DiscussOnHnButton @link="https://google.com" />
        </div>
      </div>
    </div>
  </div>
</div>