<div class="bg-white">
  <div class="container mx-auto lg:max-w-screen-lg px-3 md:px-6">
    <div class="flex">
      <div class="w-full pr-6 pt-10 pb-20">
        <CodeWalkthrough @model={{@codeWalkthrough}} />
      </div>
      <div class="border-l w-80 pt-10">
        <div class="pl-6 mb-6">
          <div class="flex items-center mb-3">
            {{svg-jar "clock" class="w-4 mr-2 fill-current text-gray-300"}}
            <span class="text-sm text-gray-500"><span class="font-semibold">12 min</span> reading time</span>
          </div>
          <div class="flex items-center">
            {{svg-jar "calendar" class="w-4 mr-2 fill-current text-gray-300"}}
            <span class="text-sm text-gray-500">updated <span class="font-semibold">1 hour ago</span></span>
          </div>
        </div>

        <div class="pl-6">
          <DiscussOnHnButton @link="https://google.com" />
        </div>
      </div>
    </div>
  </div>
</div>