{{! @glint-nocheck: not typesafe yet }}
<div class="flex items-center" ...attributes>
  {{svg-jar @icon class="w-4 mr-2 fill-current text-gray-300"}}
  <span class="text-sm text-gray-500">
    {{yield}}
  </span>
</div>