<div class="flex items-center" ...attributes>
  {{svg-jar @icon class="w-4 mr-2 fill-current text-gray-300 dark:text-gray-600"}}
  <span class="text-sm text-gray-500 dark:text-gray-400">
    {{yield}}
  </span>
</div>