<div class="flex items-start">
  <div class="flex-grow">
    <div class="bg-white rounded border border-gray-300">
      <div class="p-5 pb-4 md:p-8 md:pb-6">
        <div
          class="leading-7 prose solution-explanation"
          {{did-insert this.handleDidInsertExplanationHTML}}
          {{did-update this.handleDidUpdateExplanationHTML this.explanationHTML}}
        >
          {{this.explanationHTML}}
        </div>
      </div>
    </div>
  </div>

  <div class="w-80 flex-shrink-0 hidden lg:block">
  </div>
</div>