<CoursePage::InstructionsCard @title="Introduction" ...attributes>
  <:content>
    <div class="prose dark:prose-invert">
      <p>
        Welcome to the
        {{@repository.course.name}}
        challenge!
      </p>

      {{markdown-to-html @repository.course.descriptionMarkdown}}
    </div>
  </:content>
</CoursePage::InstructionsCard>