<div class="border border-gray-300 p-4 rounded-md shadow-sm flex items-center {{@class}}">
  <img src="/assets/images/icons/tick3.png" class="w-6 mr-3">

  <span class="text-lg text-gray-600 flex-grow">
    Setup
  </span>

  <span class="text-gray-400 text-lg">
    #0
  </span>
</div>