<div
  class="flex items-center justify-center gap-2 relative py-2 group/test-results-bar-bottom-section {{if @barIsExpanded 'bg-black'}}"
  {{on "click" (if this.barIsCollapsed @onExpandButtonClick @onCollapseButtonClick)}}
  role="button"
  data-test-bottom-section
  ...attributes
>
  <CoursePage::StepProgressIndicator @step={{@activeStep}} />

  {{#if (eq @activeStep.type "CourseStageStep")}}
    <span
      class="text-xs inline-block border border-gray-700 rounded px-1.5 py-0.5 font-medium text-gray-400 group-hover/test-results-bar-bottom-section:text-white group-hover/test-results-bar-bottom-section:bg-teal-500 group-hover/test-results-bar-bottom-section:border-teal-500"
    >{{if @barIsExpanded "Hide logs" "Show logs"}}</span>
  {{/if}}
</div>