<div ...attributes>
  <CoursePage::TestResultsBar::TopSection
    @activeTabSlug={{@activeTabSlug}}
    @onActiveTabSlugChange={{@onActiveTabSlugChange}}
    @availableTabSlugs={{@availableTabSlugs}}
    class="mt-3 mb-3"
  />

  {{yield}}
</div>