<div class="flex items-center justify-end">
  <div class="flex items-center justify-center text-gray-500 hover:text-gray-400" {{on "click" @onCollapseButtonClick}} role="button">
    {{svg-jar "x" class="w-5 h-5 fill-current"}}
  </div>
</div>