<tr class="bg-gray-50 dark:bg-gray-900">
  <td colspan="4" class="px-4 py-3 whitespace-nowrap border border-gray-200 dark:border-gray-700 text-center">
    <div class="text-xs text-gray-500 dark:text-gray-400">
      {{@text}}
    </div>
  </td>
</tr>