<tr class="hover:bg-gray-50 dark:hover:bg-gray-900 group/table-row" data-test-leaderboard-entry-skeleton-row>
  <LeaderboardPage::EntriesTable::RowCell class="text-right w-[8%]">
    <span class="text-xs font-medium text-gray-400 dark:text-gray-500">
      {{@rankText}}
    </span>
  </LeaderboardPage::EntriesTable::RowCell>

  <LeaderboardPage::EntriesTable::RowCell>
    <div class="flex items-center justify-between gap-x-6">
      <div class="flex items-center gap-1.5">
        <LoadingSkeleton @isCircle={{true}} class="size-6 shrink-0" />
        <LoadingSkeleton class="w-[12ch] sm:w-[16ch] text-xs" />
      </div>
      <div class="hidden md:flex items-center gap-1.5 shrink-0 opacity-25 group-hover/table-row:opacity-100">
        {{#each (repeat 6)}}
          <LoadingSkeleton class="w-4 shrink-0" />
        {{/each}}
      </div>
    </div>
  </LeaderboardPage::EntriesTable::RowCell>

  <LeaderboardPage::EntriesTable::RowCell class="hidden md:table-cell">
    <div class="flex items-center justify-end gap-2">
      <LoadingSkeleton class="w-[3ch] text-xs" />

      <span class="text-gray-400 dark:text-gray-500 text-xs font-mono">
        stages
      </span>
    </div>
  </LeaderboardPage::EntriesTable::RowCell>

  <LeaderboardPage::EntriesTable::RowCell>
    <div class="flex items-center justify-end gap-2">
      <LoadingSkeleton class="w-[4ch] text-xs" />

      <span class="text-gray-400 dark:text-gray-500 text-xs font-mono">
        pts
      </span>
    </div>
  </LeaderboardPage::EntriesTable::RowCell>
</tr>