<div class="rounded-lg border-gray-200 shadow bg-white overflow-hidden">
  <img src={{@imageURL}} />

  <div class="p-4">
    <div class="text-gray-700 font-bold mb-2">
      {{@title}}
    </div>
    <div class="text-gray-500 text-xs leading-5">
      {{@description}}
    </div>
  </div>
</div>