<div ...attributes>
  <label class="block mb-5 text-gray-700 text-lg" for="team_name_input">
    Enter a team name to get started:
  </label>

  <div class="flex flex-col items-stretch gap-3 sm:flex-row sm:items-center">
    <input
      class="rounded p-3 placeholder-gray-300 focus:outline-none focus:ring-2 focus:ring-teal-400 shadow text-lg"
      id="team_name_input"
      placeholder="(example: Microsoft)"
    />

    <button
      type="button"
      class="flex justify-center bg-teal-500 hover:bg-teal-600 self-stretch px-5 py-2 text-white rounded shadow-sm font-bold flex items-center text-lg transition-colors duration-75"
      data-test-create-team-button
    >
      Create Team

      {{#if @isCreatingTeam}}
        <svg class="animate-spin ml-3 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      {{/if}}
    </button>
  </div>

  {{#if @currentTeams.firstObject}}
    <div class="mt-4 text-gray-700 text-xs">
      You're currently in the
      <a href="google.com" class="font-bold text-teal-500 underline">Google</a>
      &
      <a href="microsoft.com" class="font-bold text-teal-500 underline">Microsoft</a>
      teams.
    </div>
  {{/if}}
</div>