<div class="flex items-center text-xs min-h-[40px]">
  <CoursePage::StepProgressIndicator @step={{this.coursePageState.currentStep}} data-test-footer-text />

  {{#if this.shouldShowLogsButton}}
    <span
      class="inline-block border border-gray-400 rounded ml-3 px-1.5 py-0.5 font-medium text-gray-800 bg-white"
      role="button"
      {{on "click" this.handleLogsButtonClick}}
    >{{if this.testResultsBarIsExpanded "Hide logs" "Show logs"}}</span>
  {{/if}}
</div>