<div ...attributes>
  <div class="flex items-center">
    <div class="flex justify-start w-6">
      <input type="radio" id="team_pricing_plan" checked={{@selected}} />
    </div>
    <label class="text-gray-700">{{@name}}</label>
  </div>

  <div class="ml-6 text-gray-400 text-xs">
    {{@description}}
  </div>
</div>