<div class="prose prose-compact">
  <p>
    Head over to your editor / IDE and implement your solution.
  </p>
  <p>
    If you want a quick look at what functions to use or how to structure your code, we recommend looking at
    <LinkTo @route="course.stage.code-examples">Code Examples</LinkTo>.
  </p>
</div>