<div class="group bg-white p-5 rounded-md shadow-sm flex flex-col justify-between border relative" data-test-course-idea-card>
  {{! Text }}
  <div class="mb-4">
    <div class="text-gray-600 mr-2 mb-3 font-bold text-xl tracking-tight" data-test-track-name>
      {{@courseIdea.name}}
    </div>
    <div class="prose prose-sm">
      {{@courseIdea.descriptionHtml}}
    </div>
  </div>

  {{! Footer Controls }}
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <CourseIdeasPage::CourseIdeaCard::VoteButton @courseIdea={{@courseIdea}} class="mr-2" />
      <CourseIdeasPage::CourseIdeaCard::SupervoteButton @courseIdea={{@courseIdea}} />
    </div>
  </div>
</div>