/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.has-prism-highlighting pre[class*='language-'] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.has-prism-highlighting pre[class*='language-']::-moz-selection,
.has-prism-highlighting pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

.has-prism-highlighting pre[class*='language-']::selection,
.has-prism-highlighting pre[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  .has-prism-highlighting pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
.has-prism-highlighting pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.has-prism-highlighting pre[class*='language-'] {
  background: #f5f2f0;
}

.has-prism-highlighting .token.comment,
.has-prism-highlighting .token.prolog,
.has-prism-highlighting .token.doctype,
.has-prism-highlighting .token.cdata {
  color: slategray;
}

.has-prism-highlighting .token.punctuation {
  color: #999;
}

.has-prism-highlighting .token.namespace {
  opacity: 0.7;
}

.has-prism-highlighting .token.property,
.has-prism-highlighting .token.tag,
.has-prism-highlighting .token.boolean,
.has-prism-highlighting .token.number,
.has-prism-highlighting .token.constant,
.has-prism-highlighting .token.symbol,
.has-prism-highlighting .token.deleted {
  color: #905;
}

.has-prism-highlighting .token.selector,
.has-prism-highlighting .token.attr-name,
.has-prism-highlighting .token.string,
.has-prism-highlighting .token.char,
.has-prism-highlighting .token.builtin,
.has-prism-highlighting .token.inserted {
  color: #690;
}

.has-prism-highlighting .token.operator,
.has-prism-highlighting .token.entity,
.has-prism-highlighting .token.url,
.has-prism-highlighting .language-css .token.string,
.has-prism-highlighting .style .token.string {
  color: #9a6e3a;
}

.has-prism-highlighting .token.atrule,
.has-prism-highlighting .token.attr-value,
.has-prism-highlighting .token.keyword {
  color: #07a;
}

.has-prism-highlighting .token.function,
.has-prism-highlighting .token.class-name {
  color: #dd4a68;
}

.has-prism-highlighting .token.regex,
.has-prism-highlighting .token.important,
.has-prism-highlighting .token.variable {
  color: #e90;
}

.has-prism-highlighting .token.important,
.has-prism-highlighting .token.bold {
  font-weight: bold;
}
.has-prism-highlighting .token.italic {
  font-style: italic;
}

.has-prism-highlighting .token.entity {
  cursor: help;
}
