{{#if this.solution}}
  <div class="prose dark:prose-invert">
    <ul>
      <li>
        To simplify getting started, we’ve solved this first stage for you.
      </li>
      <li>
        Uncomment the relevant code in
        <code>{{this.filename}}</code>, save your file, and submit your changes by following the steps below.
      </li>
    </ul>
  </div>
{{else if (not @repository.language)}}
  <div class="prose dark:prose-invert">
    <p>
      <span class="text-lg">⚠️</span>
      Complete repository setup to see the code you need to uncomment.
    </p>
  </div>
{{else}}
  <div class="prose dark:prose-invert">
    <p>
      View the README in your repository for instructions on how to uncomment the code.
    </p>
  </div>
{{/if}}