<div class="flex items-center gap-x-1.5" ...attributes>
  {{svg-jar @icon class="w-5 fill-current text-gray-400 dark:text-gray-600"}}
  <span class="text-sm text-gray-500">{{@description}}</span>
</div>