<a href="{{@user.codecraftersProfileUrl}}" class="inline-flex transition-all" target="_blank" rel="noopener noreferrer">
  <AvatarImage @user={{@user}} class="w-6 h-6 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
</a>