<div class="text-gray-800 font-bold text-lg mb-4">
  Logs
</div>

<div class="bg-gray-800 p-4 text-white font-mono text-xs leading-relaxed rounded mb-4">
  <div class="flex items-center">
    <div class="text-gray-500 w-4 text-right mr-3">1</div>
    <div>[stage-1] Your code goes here!</div>
  </div>
  <div class="flex items-center">
    <div class="text-gray-500 w-4 text-right mr-3">2</div>
    <div>[stage-2] Your code goes here 2!</div>
  </div>
</div>