<div class="text-gray-800 font-bold text-lg mb-4">
  Logs
</div>

<div class="bg-gray-800 p-4 text-white font-mono text-xs leading-relaxed rounded mb-4">
  {{#if (gt @submission.evaluations.length 0)}}
    {{#each this.logLines as |logLine index|}}
      <div class="flex items-center">
        <div class="text-gray-500 w-4 text-right mr-3">{{add index 1}}</div>
        <div>{{logLine}}</div>
      </div>
    {{/each}}
  {{else}}
    Logs for this submission are not available yet.
  {{/if}}
</div>