<BasicDropdown @renderInPlace={{true}} @horizontalPosition="auto-right" @verticalPosition="below" as |dd|>
  <dd.Trigger>
    <div class="text-gray-400" data-test-more-dropdown-toggle>
      {{svg-jar "dots-horizontal" class=(concat "fill-current w-5 transform transition-all " (if dd.isOpen "text-teal-500" ""))}}
    </div>
  </dd.Trigger>
  <dd.Content>
    <div class="py-2 border rounded shadow text-sm text-gray-600 max-w-xl bg-white" data-test-more-dropdown-content>
      <div
        class="px-3 py-2 hover:bg-gray-50 flex items-center justify-between group"
        role="button"
        {{on "click" (fn this.handleEditButtonClick dd.actions)}}
      >
        <span class="mr-4">
          Edit&nbsp;Comment
        </span>
      </div>
    </div>
  </dd.Content>
</BasicDropdown>