<button
  type="button"
  class="pr-2 pl-1 py-0.5 rounded flex items-center border border-gray-200 hover:border-gray-300 transition-all duration-75"
  ...attributes
  data-test-reply-button
>
  {{svg-jar "reply" class=(concat "w-3 mr-1 transition-all duration-75 text-gray-300")}}

  <span class="text-xs text-gray-500 transition-all duration-75">
    reply
  </span>
</button>