<div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-0.5 rounded-xl overflow-hidden auto-rows-fr">
  {{#each this.companiesData as |company|}}
    <div
      class="px-5 py-8 sm:px-10 sm:py-8 md:px-10 md:p-10 lg:px-8 lg:py-12 h-24 md:h-32 w-full flex items-center justify-stretch bg-theme-neutral-600 relative bg-gray-50"
    >
      <img alt={{company.name}} src={{company.image}} class="opacity-40 object-contain w-full h-full brightness-0" />
    </div>
  {{/each}}
</div>