<div class="flex items-center" data-test-progress-bar>
  <div class="rounded overflow-hidden mr-2">
    <div class="bg-gray-200 h-3 w-16 flex items-stretch">
      <div
        data-test-track-progress-bar
        class="bg-yellow-500"
        style={{html-safe (concat "width:" (round (mult 100 (div (or @completedStagesCount 1) @totalStagesCount))) "%")}}
      ></div>
    </div>
  </div>

  <div class="text-xs text-gray-400 mr-3" data-test-track-progress-text>
    <b class="font-bold">{{@completedStagesCount}}/{{@totalStagesCount}}</b>
    stages
  </div>
</div>