/**
 * This is the main PostCSS/Tailwind entry point. This file
 * includes Tailwind with its configuration and plugins.
 * It is imported in app.js and processed with PostCSS.
 */

/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';

/* stylelint-disable-next-line at-rule-no-unknown */
@config './tailwind.config.js';

/* stylelint-disable-next-line at-rule-no-unknown */
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
