<div class="text-gray-700 prose mb-5" data-test-select-language-proficiency-level-section>
  <p>
    How would you describe your experience level with
    {{if @repository.language @repository.language.name "this language"}}? We can tailor your experience accordingly.
  </p>
</div>

<div>
  <div class="flex items-center flex-wrap max-w-3xl gap-3">
    {{#each-in @repository.constructor.languageProficiencyLevelMappings as |key value|}}
      <TertiaryButton>{{value}}</TertiaryButton>
    {{/each-in}}
  </div>
</div>