<button
  class="rounded-full w-8 h-8 flex items-center justify-center border shadow
    {{if
      @commentsAreExpanded
      'text-teal-500 border-teal-500 hover:border-teal-600 bg-white'
      'bg-white border-gray-300 text-gray-500 hover:border-gray-400 hover:text-gray-600'
    }}
    "
  ...attributes
>
  {{svg-jar "chat-alt" class="w-5 fill-current"}}
</button>