<button
  type="button"
  class="relative rounded-full w-8 h-8 flex items-center justify-center border shadow bg-white dark:bg-gray-900
    {{if
      @commentsAreExpanded
      'text-teal-500 dark:text-teal-600 border-teal-500 dark:border-teal-600 hover:border-teal-600 dark:hover:border-teal-500'
      'border-gray-300 dark:border-gray-700 text-gray-600 dark:text-gray-400 hover:border-gray-400 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-300'
    }}
    "
  data-test-toggle-comments-button
  ...attributes
>
  {{svg-jar "chat-alt" class="w-5 fill-current"}}
  <div
    class="absolute -bottom-0.5 -right-0.5 rounded-full w-3 h-3 flex items-center justify-center bg-teal-500 dark:bg-teal-600 text-white text-[8px] font-semibold"
  >
    1
  </div>
</button>