<div class="flex items-start">
  <a href={{@author.codecraftersProfileUrl}} class="mt-0.5 flex items-center flex-shrink-0" target="_blank" rel="noopener noreferrer">
    <AvatarImage @user={{@author}} class="w-8 h-8 mr-3 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
  </a>

  {{yield}}
</div>