<div class="flex gap-6 flex-wrap">
  {{#if @solution.authorDetails}}
    <div class="flex-shrink-0">
      <div class="flex items-center gap-x-1 mb-2">
        <div class="text-gray-400 uppercase text-xs font-bold tracking-wider">
          Author
        </div>

        {{svg-jar "pencil-alt" class="w-5 fill-current text-gray-300"}}
      </div>

      <ExternalContributorCard @contributorDetails={{@solution.authorDetails}} />
    </div>
  {{/if}}

  {{#if @solution.reviewerDetails}}
    <div class="flex-shrink-0">
      <div class="flex items-center gap-x-1 mb-2">
        <div class="text-gray-400 uppercase text-xs font-bold tracking-wider">
          Reviewer
        </div>

        {{svg-jar "badge-check" class="w-5 fill-current text-teal-500"}}
      </div>

      <ExternalContributorCard @contributorDetails={{@solution.reviewerDetails}} />
    </div>
  {{/if}}
</div>