{{#each @solution.changedFiles as |changedFile|}}
  <div class="mb-4 bg-white shadow-sm rounded border border-gray-300">
    <div class="bg-gray-100 rounded-t py-1 px-4 border-b border-gray-200 shadow-sm">
      <span class="font-mono text-xs text-gray-600 bold">{{changedFile.filename}}</span>
    </div>

    <div class="p-4 text-sm">
      <SyntaxHighlightedDiff @code={{changedFile.diff}} @language={{@solution.language.slug}} />
    </div>
  </div>
{{/each}}