<div class="pb-8">
  <div
    class="leading-7 prose solution-explanation max-w-none"
    {{did-insert this.handleDidInsertExplanationHTML}}
    {{did-update this.handleDidUpdateExplanationHTML this.explanationHTML}}
  >
    {{this.explanationHTML}}
  </div>
</div>