<div class="pb-8">
  <div
    class="leading-7 prose solution-explanation max-w-none"
    {{did-insert this.handleDidInsertExplanationHTML}}
    {{did-update this.handleDidUpdateExplanationHTML this.explanationHTML}}
  >
    {{this.explanationHTML}}
  </div>
</div>

{{#if @solution.hasContributorDetails}}
  <hr class="mb-6" />
  <div class="p-4 rounded border mb-6 inline-block">
    <div class="mb-4">
      <a href="#" class="text-teal-500 text-sm font-bold">View the code diff</a>
    </div>
    <CoursePage::CourseStageSolutionModal::ContributorsSection @solution={{@solution}} />
  </div>
{{/if}}