<div data-test-screencasts-tab>
  <Alert class="mb-4">
    Screencasts are experimental, please send us
    <div class="inline-flex">
      {{! @glint-expect-error: not typesafe yet }}
      <FeedbackButton class="font-blue-500 hover:font-blue-600 font-semibold underline">feedback</FeedbackButton>
    </div>.
  </Alert>
</div>