<div data-test-screencasts-tab {{did-insert this.handleDidInsert}}>
  <Alert class="mb-6">
    Screencasts are recordings of CodeCrafters users passing this stage. This is a beta feature, please send us
    <div class="inline-flex">
      {{! @glint-expect-error: not typesafe yet }}
      <FeedbackButton class="font-blue-500 hover:font-blue-600 font-semibold underline">feedback</FeedbackButton>
    </div>.
  </Alert>
  {{#if this.selectedScreencast}}
    <div class="mb-8">
      {{{this.selectedScreencast.embedHtml}}}
    </div>
  {{/if}}

  <div class="grid grid-cols-1 gap-6 pb-16">
    {{#each this.courseStageScreencastsForList as |screencast|}}
      {{! @glint-expect-error: not typesafe yet }}
      <CourseStageScreencastPreview @screencast={{screencast}} {{on "click" (fn this.handleScreencastClicked screencast)}} />
    {{/each}}
  </div>
</div>