<div class="flex items-center justify-center gap-2" ...attributes>
  {{#each this.steps as |step|}}
    <button
      type="button"
      class="rounded-full transition-all duration-200 cursor-pointer w-2 h-2
        {{if (eq step @currentStep) 'bg-teal-500 ring-1 ring-teal-500 ring-offset-1' 'bg-gray-300 dark:bg-gray-600'}}"
      data-test-step-indicator
      data-test-step-number={{step}}
      data-test-is-active={{eq step @currentStep}}
      {{on "click" (fn this.handleStepClick step)}}
    ></button>
  {{/each}}
</div>