<div
  role="button"
  class="group border rounded-full text-4xl w-12 h-12 flex items-center justify-center
    {{if @isSelected 'bg-teal-200 border-teal-500' 'bg-white border-opacity-50 border-teal-500 hover:bg-teal-100 hover:border-teal-400'}}"
  data-test-feedback-prompt-option
  ...attributes
>
  <span class="transform {{if @isSelected 'scale-105' 'scale-100'}} group-hover:scale-105 transition-all duration-75">
    {{@emoji}}
  </span>
</div>