<CoursePage::InstructionsCard
  id="language-instructions-card"
  ...attributes
  {{did-update this.loadLanguageGuides @courseStage}}
  {{did-insert this.loadLanguageGuides}}
>
  <:content>
    <div class="flex items-center justify-between border-b pb-2 mb-5 w-full">
      <div class="flex items-center gap-x-3">
        <h2 class="font-semibold text-lg text-gray-700">{{@repository.language.name}} Guide</h2>
        <div class="inline-flex text-xs text-white font-semibold border border-teal-500 bg-teal-500 rounded px-1.5 py-0.5 w-fit">
          BETA
          <EmberTooltip @text="This is a beta feature, please send us feedback!" @side="top" />
        </div>
      </div>

      <div class="text-sm">
        <span class="text-gray-500">Proficiency:</span>
        <span class="text-gray-700 font-semibold">Beginner</span>
      </div>
    </div>
    <Alert class="mb-6">
      <p>
        This is a beta feature. Let us know if you find this useful or not using the "Helpful" / "Not Helpful" buttons below. You can also send us
        detailed feedback using the
        <div class="inline-flex">
          <FeedbackButton class="font-blue-500 hover:font-blue-600 font-semibold underline">share feedback</FeedbackButton>
        </div>
        button.
      </p>

      <p>
        Change the
        <b>Proficiency</b>
        setting above to see more or less detail.
      </p>
    </Alert>
    <div class="prose mb-5">
    </div>
  </:content>
</CoursePage::InstructionsCard>