<CoursePage::InstructionsCard @title="Prerequisites" @isCollapsedByDefault={{true}} ...attributes>
  <:content>
    <div class="prose mb-5">
      {{markdown-to-html this.prerequisiteInstructionsMarkdown}}
    </div>
  </:content>
</CoursePage::InstructionsCard>