<div
  class="p-3 border rounded flex items-center justify-between border-gray-200 bg-gradient-to-br from-black via-black to-[#383838] from-0% to-100% cursor-pointer overflow-hidden"
  ...attributes
>
  <div class="flex items-center gap-1.5">
    {{svg-jar "check-circle" class="h-8 w-8 text-teal-500"}}
    {{! <StaticDot @color="green" @size="large" /> }}
    <h2 class="font-semibold text-lg text-white">Tests Passed!</h2>
  </div>
</div>