<div class="px-5 py-4 rounded border border-teal-500 bg-green-50" data-test-tests-passed-card ...attributes>
  <div class="flex items-center gap-1.5 mb-3 -mx-1">
    {{! -mx-1 aligns the tick icon to the left }}
    {{svg-jar "check-circle" class="h-8 w-8 text-teal-500"}}
    <h2 class="font-semibold text-xl text-teal-500">Tests Passed!</h2>
  </div>

  <div class="prose prose-sm mb-4">
    <p>
      You can either refactor your code or move on the next step.
    </p>
  </div>

  <div class="mb-6">
    <div class="text-md font-semibold text-gray-700 mb-4 border-b-2 border-teal-500 border-opacity-60 inline-flex">
      To refactor your code:
    </div>

    <div class="prose prose-sm mb-3">
      <p>
        Make changes to your code and run the test command again:
      </p>
    </div>

    <CopyableTerminalCommand @commands={{array "codecrafters test"}} />
  </div>

  <div class="mb-2">
    <div class="text-md font-semibold text-gray-700 mb-4 border-b-2 border-teal-500 border-opacity-60 inline-flex">
      To move on to the next step:
    </div>

    <div class="prose prose-sm mb-3">
      <p>
        Submit your code using Git:
      </p>
    </div>

    <CopyableTerminalCommand @commands={{array "git add . " "git commit --allow-empty -am 'pass stage'" "git push origin master"}} />

    {{! TODO: Revive this when we're handling regular git pushes}}

    {{!-- <div class="text-gray-700 mb-4 text-sm">
      Click the button below to move on to the next step.
    </div>

    <PrimaryButtonWithSpinner @shouldShowSpinner={{false}} @size="large">
      Mark stage as complete →
    </PrimaryButtonWithSpinner> --}}
  </div>
</div>