<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm" ...attributes>
  <div class="mr-3 mt-0.5 w-6 h-6 relative">
    {{svg-jar "information-circle" class="w-6 fill-current text-blue-400"}}
  </div>
  <div class="text-blue-800 prose prose-blue leading-7 text-sm max-w-none">
    <p>
      If you see
      <code class="font-semibold text-red-700 bg-red-100 border border-red-200">Test failed</code>
      above, this is expected! Read
      <a href="#first-stage-instructions-card" class="font-bold">How to pass this stage</a>
      for more details.
    </p>
  </div>
</div>