<div class="flex items-center justify-between py-1.5 pl-4 pr-2" ...attributes>
  <div class="flex items-center gap-2">
    <div class="w-6 h-6 bg-gray-200 dark:bg-gray-800 rounded-sm animate-pulse"></div>
    <div class="w-24 h-4 bg-gray-200 dark:bg-gray-800 rounded-sm animate-pulse"></div>
  </div>
  <div class="w-6 h-4 bg-gray-200 dark:bg-gray-800 rounded-sm animate-pulse"></div>
</div>
