<div ...attributes>
  <h3 class="text-gray-500 text-xl mb-4">
    Challenges
  </h3>

  <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
    {{#each this.courseParticipationGroups as |courseParticipationGroup|}}
      {{! @glint-ignore }}
      <UserPage::CourseProgressListItem @courseParticipations={{courseParticipationGroup}} />
    {{/each}}
  </div>
</div>