<div data-test-timeline-container ...attributes>
  {{#if @submissions.firstObject}}
    <div class="py-3 font-semibold uppercase tracking-wide text-gray-400 text-xs border-b">
      Today
    </div>
    <Admin::Course::SubmissionsPage::Timeline::Entry />
    <Admin::Course::SubmissionsPage::Timeline::Entry />
    <div class="py-3 font-semibold uppercase tracking-wide text-gray-400 text-xs border-b">
      Yesterday
    </div>
    <Admin::Course::SubmissionsPage::Timeline::Entry />
    <Admin::Course::SubmissionsPage::Timeline::Entry />
  {{else}}
    <div class="py-16 px-3 flex items-center justify-center">
      <span class="text-gray-400 text-xs text-center">
        No recent submissions found.
      </span>
    </div>
  {{/if}}
</div>