<div class="bg-github-green-dot-wall">
  <div class="container mx-auto lg:max-w-(--breakpoint-xl) px-4 py-16">
    <div class="flex flex-col justify-center items-center mb-20">
      <div class="w-40 h-40 mb-10 mt-20">
        <RiveAnimation @src="/assets/animations/checkmark_icon.riv" />
      </div>

      <h1
        class="text-3xl sm:text-4xl leading-10 text-gradient-to-b from-white to-gray-300 font-bold text-pretty text-center max-w-sm mb-12"
        data-test-gift-redeemed-message
      >
        This gift has been redeemed.
      </h1>

      <div class="prose dark:prose-invert prose-compact max-w-sm text-center text-balance">
        <p class>
          Contact us at
          <a href="mailto:hello@codecrafters.io">hello@codecrafters.io</a>
          if you have any questions.
        </p>
      </div>
    </div>
  </div>
</div>