<div ...attributes>
  <div class="lg:text-sm lg:leading-relaxed text-gray-500 leading-relaxed">
    <p class="mb-3">
      This is a preview of a CodeCrafters challenge that is launching soon.
    </p>
    <p class="mb-3">
      Follow us on
      <a target="_blank" href="https://twitter.com/@CodeCraftersIo" class="font-bold text-teal-500 underline" rel="noopener noreferrer">Twitter</a>
      to be notified when this challenge is available.
    </p>
  </div>
</div>