<div class="inline-flex text-xs text-teal-500 font-bold" data-test-course-beta-label ...attributes>
  FREE DURING BETA
  <EmberTooltip
    @text="This challenge is free to try when it's in beta. We keep challenges in beta for a few weeks to gather feedback."
    @side={{this.tooltipSide}}
  />
</div>