{{#if (eq @color "gray")}}
  <div class="relative flex h-2.5 w-2.5" ...attributes>
    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-gray-300 dark:bg-gray-200 opacity-75"></span>
    <span class="inline-flex relative rounded-full h-full w-full bg-gray-400 dark:bg-gray-300 opacity-75"></span>
  </div>
{{else if (eq @color "yellow")}}
  <div class="relative flex h-2.5 w-2.5" ...attributes>
    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-yellow-400 dark:bg-yellow-300 opacity-75"></span>
    <span class="inline-flex relative rounded-full h-full w-full bg-yellow-500 dark:bg-yellow-400 opacity-75"></span>
  </div>
{{/if}}