<div data-test-evaluations-section ...attributes>
  <div class="mb-4">
    <div class="flex items-center mb-1 gap-2">
      <span class="text-gray-800 font-semibold text-lg">
        Recent Evaluations
      </span>
    </div>

    <div class="text-gray-400 text-xs">
      View recent evaluations by result
    </div>
  </div>

  <Tabs @size="regular" @tabs={{this.tabs}} @activeTabSlug={{this.activeTabSlug}} @onTabChange={{this.handleTabChange}}>
    <div class="mt-6">
      {{#each this.sortedEvaluations as |evaluation|}}
        <CourseAdmin::CodeExamplePage::EvaluationCard @evaluation={{evaluation}} class="mb-4" />
      {{/each}}
    </div>
  </Tabs>
</div>