<div class="bg-white rounded-md shadow-sm border border-gray-200 relative" ...attributes>
  <div class="p-4 md:p-6">
    <div class="leading-7 prose mb-4">
      {{markdown-to-html @course.descriptionMarkdown}}
    </div>

    <h3 class="font-semibold text-gray-400 text-center text-sm relative mb-3">
      <span class="block h-px w-full bg-gray-200 absolute top-50-percent -mt-px"></span>
      <span class="relative px-6 bg-white">Stages</span>
    </h3>

    <CourseOverviewPage::StageList @course={{@course}} />
  </div>
</div>