<a href="{{@user.githubProfileUrl}}" class="inline-flex transition-all" target="_blank" rel="noopener noreferrer">
  <AvatarImage @user={{@user}} class="w-4 h-4 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
</a>