<a href="https://github.com/{{@username}}" class="inline-flex transition-all" target="_blank" rel="noopener noreferrer">
  <img
    alt="avatar"
    src="https://github.com/{{@username}}.png"
    class="w-4 h-4 filter drop-shadow-sm ring-1 ring-white rounded-full shadow" />
</a>