<div
  class="grid grid-cols-1 md:grid-cols-[2fr_3fr] p-4 md:p-6 gap-4 md:gap-6 bg-white dark:bg-gray-850 rounded-md shadow-xs border border-gray-200 dark:border-white/5"
  ...attributes
>
  <div>
    <h3 class="font-semibold text-gray-900 dark:text-gray-100 text-lg mb-3">
      {{@title}}
    </h3>

    <div class="leading-7 prose dark:prose-invert prose-sm mb-4">
      {{markdown-to-html @descriptionMarkdown}}
    </div>
  </div>

  <div class="min-w-0">
    <CourseOverviewPage::StageListCard::List @stages={{@stages}} />
  </div>
</div>