{{! @glint-nocheck: not typesafe yet }}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {{#each @course.testimonials as |testimonial|}}
    <CourseOverviewPage::TestimonialListItem @testimonial={{testimonial}} />
  {{/each}}
</div>