<div class="container mx-auto lg:max-w-screen-lg pt-10 pb-48 px-6">
  <h1 class="text-xl font-bold text-gray-800 my-8">Courses</h1>

  {{#each this.model.courses as |course|}}
    <div class="flex items-center my-3">
      <CourseLogo @course={{course}} class="w-10 h-10 mr-3" />
      <LinkTo @route="admin.course.submissions" @model={{course.slug}} class="underline py-2 block">{{course.name}}</LinkTo>
    </div>
  {{/each}}
</div>