<div
  class="text-gray-600 flex items-center transform group-hover/test-results-bar-bottom-section:translate-y-[3px] group-hover/test-results-bar-bottom-section:text-gray-400 transition-all"
>
  {{svg-jar "chevron-double-down" class="w-3 h-3 fill-current"}}
</div>