{{! @glint-nocheck: not typesafe yet }}
<div
  role="button"
  class="group border rounded-full text-2xl w-8 h-8 flex items-center justify-center
    {{if
      @isSelected
      'bg-gray-300 dark:bg-gray-700 border-gray-400 dark:border-gray-600'
      'border-gray-200 dark:border-gray-800 hover:bg-gray-200 dark:hover:bg-gray-600 hover:border-gray-300 dark:hover:border-gray-500'
    }}"
  data-test-feedback-prompt-option
  ...attributes
>
  <span class="transform {{if @isSelected 'scale-105' 'scale-100'}} group-hover:scale-105 transition-all duration-75">
    {{@emoji}}
  </span>
</div>