{{page-title (concat "Join " @model.referralLink.user.username)}}

<div class="bg-white dark:bg-gray-950">
  <div class="container mx-auto lg:max-w-(--breakpoint-lg) py-16 pb-48 px-3 md:px-6">
    <h1
      class="text-2xl leading-9 md:text-3xl md:leading-10 font-bold text-gradient-to-b from-gray-950 to-gray-700 dark:from-white dark:to-gray-300 text-center"
    >
      Join the best.
    </h1>

    <ReferralLinkPage::AcceptReferralContainer
      @acceptedReferralOfferFreeUsageGrant={{@model.acceptedReferralOfferFreeUsageGrant}}
      @referralLink={{@model.referralLink}}
      class="mt-8"
    />

    <h2
      class="text-2xl leading-9 md:text-3xl md:leading-10 font-bold text-gradient-to-b from-gray-950 to-gray-700 dark:from-white dark:to-gray-300 text-center mt-16"
    >
      Hear it from our members
    </h2>

    <div class="text-gray-500 dark:text-gray-400 text-sm text-center mt-2">
      Engineers at top teams love The CodeCrafters Way<sup>TM</sup>.
    </div>

    <TestimonialList class="mt-10" />
  </div>
</div>