<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-3" ...attributes>
  <div>
    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">
      {{@title}}
    </label>
  </div>
  <div class="mt-2 sm:col-span-2 sm:mt-0">
    {{yield to="content"}}
  </div>
</div>