{{#if this.anyButtonIsVisible}}
  <div class="flex flex-wrap" ...attributes>
    {{#if this.shouldShowCodeExamplesButton}}
      <CoursePage::CourseStageStep::YourTaskCard::ActionButton
        @text="View Code Examples"
        @icon="code"
        {{on "click" this.handleViewCodeExamplesButtonClicked}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewScreencastsButton}}
      <CoursePage::CourseStageStep::YourTaskCard::ActionButton
        @text="View Screencasts"
        @icon="play"
        {{on "click" this.handleViewScreencastsButtonClicked}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewTestCasesButton}}
      <CoursePage::CourseStageStep::YourTaskCard::ActionButton
        @text="Test Cases"
        @icon="check-circle"
        {{on "click" this.handleViewTestCasesButtonClicked}}
        class="mt-3 mr-3"
      />
    {{/if}}
  </div>
{{/if}}