<div class="flex items-center gap-2 {{if @item.isGrayedOut 'text-gray-400 dark:text-gray-500' 'text-gray-900 dark:text-gray-100'}}" ...attributes>
  {{svg-jar "document-text-outline" class=(concat "w-5 h-5" (if @item.isGrayedOut " opacity-50"))}}
  <span class="font-mono text-xs">{{@item.name}}</span>
</div>