<div class="border-b-2 {{if this.isSelected 'border-teal-500 opacity-100' 'border-transparent opacity-25 hover:opacity-100 hover:border-gray-300'}} pb-2 px-1" role="button" {{on "click" (fn this.args.onClick this.args.platform)}} ...attributes>
  <img src={{this.platformLogoImage}} class="w-5 h-5" alt="Linkedin Icon" />
</div>