<div class="flex flex-col gap-2.5 w-full max-w-xl" ...attributes>
  {{#each this.faqs as |faq|}}
    <FaqCard @faq={{faq}} @onToggle={{this.handleToggle}} @isOpen={{eq faq this.openItem}} />
  {{/each}}
</div>