<div class="border rounded border-gray-900 hover:border-gray-800 p-4">
  <div class="text-lg font-bold text-gray-600 mr-2 mb-4" data-test-badge-name>
    {{@badge.name}}
  </div>

  <BadgesPage::BadgePreview @badge={{@badge}} />

  <div>
    {{#if this.userHasBadgeAward}}
      <span class="text-teal-600 font-semibold">You have earned this badge.</span>
    {{else}}
      <span class="text-gray-500">You haven't earned this badge.</span>
    {{/if}}
  </div>
</div>