<div>
  <div class="prose prose-sm dark:prose-invert mb-6">
    <p>
      <strong>AI Hints</strong>
      is a new feature that generates hints based on your code. Here's how it works:
    </p>
    <ul>
      <li>
        We'll analyze your code, generate a fix and validate it by running tests on it.
      </li>
      <li>
        Once we're confident that the fix is correct, we'll convert it into a hint. You can also choose to view the full diff.
      </li>
      <li>
        Generating hints is usually
        <b>instant</b>, but if your submission was created recently it might take upto a minute. You'll see logs streamed here.
      </li>
      <li>
        This is a new feature, so it might contain bugs.
      </li>
      <li>
        Click the "Generate Hints" button below to get started!
      </li>
    </ul>
  </div>
  <PrimaryButtonWithSpinner
    @shouldShowSpinner={{this.createAutofixRequestTask.isRunning}}
    @size="regular"
    {{on "click" this.handleAutofixButtonClick}}
    data-test-start-autofix-button
  >
    Generate Hints
  </PrimaryButtonWithSpinner>

  {{#if this.autofixCreationError}}
    <Alert @type="error" class="mt-3">
      <p>
        Failed to generate hints. Try again? Contact us at hello@codecrafters.io if this persists.
      </p>
    </Alert>
  {{/if}}
</div>