<div
  class="flex flex-col items-center justify-center p-6 mb-3 bg-gray-925 rounded-sm border border-white/10 relative"
  ...attributes
  data-test-autofix-section
>
  <div class="absolute inset-0 flex items-stretch justify-stretch">
    <div class="w-full relative overflow-hidden rounded-sm">
      {{! Left blurred gradient }}
      <div class="w-1/2 h-60 absolute -bottom-32 -left-1/4 opacity-50 animate-spin-medium filter blur-[100px]">
        <div class="relative">
          <div class="rounded-full h-60 w-full bg-purple-800"></div>
          <div class="absolute bottom-24 -left-24 rounded-full h-60 w-full bg-red-800"></div>
          <div class="absolute top-24 left-24 rounded-full h-60 w-full bg-purple-600"></div>
        </div>
      </div>

      {{! Right blurred gradient }}
      <div class="w-1/2 h-60 absolute -bottom-40 -right-1/4 opacity-50 animate-spin-medium filter blur-[100px]">
        <div class="relative">
          <div class="rounded-full h-60 w-full bg-blue-600"></div>
          <div class="absolute bottom-24 -left-24 rounded-full h-60 w-full bg-blue-700"></div>
          <div class="absolute top-24 left-24 rounded-full h-60 w-full bg-purple-600"></div>
        </div>
      </div>
      {{! Center blurred gradient }}

      <div class="w-1/2 h-60 absolute top-0 left-1/1 right-1/4 opacity-50 animate-spin-medium filter blur-[100px]">
        <div class="relative">
          <div class="rounded-full h-60 w-full bg-blue-600"></div>
          <div class="absolute bottom-24 -left-24 rounded-full h-60 w-full bg-purple-700"></div>
          <div class="absolute top-24 left-24 rounded-full h-60 w-full bg-purple-600"></div>
        </div>
      </div>
    </div>
  </div>

  <CoursePage::TestResultsBar::AutofixRequestCard @autofixRequest={{@autofixRequest}} class="z-10" />
</div>