<div class="pb-3 flex flex-col" ...attributes data-test-autofix-section>
  <CoursePage::TestResultsBar::AutofixSection::AutofixResult @autofixRequest={{@autofixRequest}} class="overflow-y-auto grow" />
</div>