<div class="flex flex-col items-center justify-start mb-3 relative overflow-y-auto" ...attributes data-test-autofix-section>
  <CoursePage::TestResultsBar::AutofixRequestCard @autofixRequest={{@autofixRequest}} class="z-10" />
</div>