<div class="flex p-3 bg-blue-100 border border-blue-300 rounded shadow-sm mt-3" data-test-requested-languages-prompt>
  <div class="prose prose-blue leading-6 text-sm">
    <strong>We'll let you know when TypeScript support is available.</strong>

    <br><br>

    In the meantime, feel free to pick any of the languages above.

    <br><br>

    We prioritize new language support based on user feedback like yours. Interested in contributing support yourself?
    You can do so in the <a href="https://github.com/codecrafters-io/languages"><b>codecrafters-io/languages</b></a> repo.
  </div>
</div>