<button type="button" class="group flex justify-between items-center px-3 py-2 border border-gray-200 mr-3 mb-3 hover:border-teal-500" ...attributes>
  <div class="flex items-center mr-2">
    {{(svg-jar "code" class="text-gray-400 h-4 fill-current group-hover:text-teal-500")}}
  </div>

  <div class="text-base text-gray-700 group-hover:text-teal-500">
    Show Other Languages
  </div>
</button>