<div class="border rounded flex items-start p-4 border-yellow-300 bg-yellow-50" data-test-upgrade-prompt ...attributes>
  {{svg-jar "exclamation" class="w-8 h-8 mr-4 flex-shrink-0 text-yellow-300"}}

  <div class="text-yellow-700 text-sm leading-relaxed">
    <div class="mb-2">
      A CodeCrafters Membership is required to create a repository.
    </div>

    <div class="underline mb-2 inline-block" role="button" {{on "click" this.handleSubscribeLinkClicked}} data-test-subscribe-button>
      <b>
        Start your membership now.
      </b>
    </div>

    <div>
      Just looking around? Click on the stages below to see a preview of the content.
    </div>
  </div>
</div>