<button
  type="button"
  class="inline-flex items-center text-gray-600 hover:text-gray-700 transition-colors px-3 py-1.5 rounded-lg hover:bg-gray-300 hover:bg-opacity-50"
  ...attributes
>
  <div class="rounded w-6 h-6 border flex items-center justify-center flex-shrink-0 bg-gray-100 border-gray-300 mr-2.5">
    {{svg-jar @icon class="w-4 h-4 fill-current text-gray-500"}}
  </div>

  <span class="font-semibold text-sm">{{@text}}</span>
</button>