<div class="relative z-30 lg:hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-900/90"></div>
  <div class="fixed inset-0 flex">
    <div class="relative mr-8 flex w-full max-w-xs flex-1">
      {{yield}}
    </div>
  </div>
</div>