{{#if @shouldShowMonthlyChallengeBanner}}
  <a
    class="relative px-2 py-4 rounded border border-gray-200 hover:border-gray-300 bg-white overflow-hidden group/monthly-challenge-banner transition-all"
    href="https://codecrafters.io/november"
    target="_blank"
    rel="noopener noreferrer"
    {{on "click" this.handleClick}}
    data-test-monthly-challenge-banner
    ...attributes
  >
    <div class="relative z-10 pb-2">
      <div class="font-medium text-center text-xs mb-1 text-gray-700">
        Complete 1 challenge in Nov '23.
      </div>
      <div
        class="font-semibold text-center text-xs text-gray-600 group-hover/monthly-challenge-banner:underline group-hover/monthly-challenge-banner:text-gray-700"
      >
        Win an Petoi Robot Dog →
      </div>
    </div>
    <div class="px-2 py-2 vertical-mask transform scale-90 group-hover/monthly-challenge-banner:scale-95 transition-transform">
      <img alt="petoi robot dog" src={{this.petoiRobotDogImage}} />
    </div>
  </a>
{{/if}}