<a
  class="relative px-2 py-4 rounded border border-gray-200 hover:border-gray-300 bg-white h-48 overflow-hidden group/monthly-challenge-banner transition-all"
  href="https://codecrafters.io/aug-2023"
  target="_blank"
  rel="noopener noreferrer"
  {{on "click" this.handleClick}}
  data-test-monthly-challenge-banner
  ...attributes
>
  <div class="relative z-10">
    <div class="font-medium text-center text-xs mb-1 text-gray-700">
      Complete 1 challenge in August.
    </div>
    <div
      class="font-semibold text-center text-xs text-gray-600 group-hover/monthly-challenge-banner:underline group-hover/monthly-challenge-banner:text-gray-700"
    >
      Win an AirPods Max →
    </div>
  </div>
  <div
    class="absolute left-0 right-0 bottom-0 px-2 vertical-mask transform scale-100 group-hover/monthly-challenge-banner:scale-105 transition-transform"
  >
    <div class="absolute left-0 right-0 top-0 h-1/2 bg-gradient-to-t from-0% via-50% to-100% from-transparent via-white to-white"></div>
    <img alt="airpods max" src={{this.airpodsImage}} />
  </div>
</a>