<button
  type="button"
  class="flex items-center px-2.5 py-2 rounded border border-gray-200 hover:border-gray-400 group"
  data-test-action-button
  ...attributes
>
  {{#if @iconUrl}}
    <img alt="icon" src={{@iconUrl}} class="h-4 mr-2" />
  {{else}}
    {{svg-jar @icon class=(concat "w-5 mr-1.5 fill-current opacity-80 group-hover:opacity-100 text-teal-500")}}
  {{/if}}

  <span class="text-gray-700">
    {{@text}}
  </span>
</button>