{{#if this.anyButtonIsVisible}}
  <div class="flex flex-wrap mt-3">
    {{#if this.shouldShowViewSolutionButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Solution"
        @icon="code"
        {{on "click" (fn @onViewSolutionButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewSourceWalkthroughButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Source Walkthrough"
        @iconUrl={{@courseStage.course.logoUrl}}
        {{on "click" (fn @onViewSourceWalkthroughButtonClick @courseStage)}}
        class="mt-3 mr-3"
      />
    {{/if}}

    {{#if this.shouldShowViewTestCasesButton}}
      <CoursePage::StepList::CourseStageItem::ActionButton
        @text="Test Cases"
        @icon="check-circle"
        {{on "click" this.handleViewTestCasesButtonClicked}}
        class="mt-3 mr-3"
      />
    {{/if}}
  </div>
{{/if}}