{{! template-lint-disable no-inline-styles no-forbidden-elements require-iframe-title }}
<div style="padding:56.25% 0 0 0;position:relative;" {{did-insert this.setupVimeoPlayer}} ...attributes>
  <iframe
    src="https://player.vimeo.com/video/{{@courseStage.completionVideoId}}?h=6b9c6fef10&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;controls=true"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen
    style="position:absolute;top:0;left:0;width:100%;height:100%;"
    title="CodeCrafters Go - Introduction"
  >
  </iframe>
</div>