<div
  role="button"
  class="group border rounded-full text-4xl w-12 h-12 flex items-center justify-center
    {{if @isSelected 'bg-gray-300 border-gray-400' 'border-gray-200 hover:bg-gray-200 hover:border-gray-300'}}"
  data-test-feedback-prompt-option
  ...attributes
>
  <span class="transform {{if @isSelected 'scale-105' 'scale-100'}} group-hover:scale-105 transition-all duration-75">
    {{@emoji}}
  </span>
</div>