<div class="flex p-3 bg-gray-100 border border-gray-300 rounded" data-test-feedback-prompt ...attributes>
  <div class="mr-3 mt-0.5">
    {{svg-jar "check-circle" class="w-6 fill-current text-teal-500"}}
  </div>
  <div>
    <div class="text-gray-700 leading-7 text-sm mb-2">
      Congrats! How was this stage for you?
    </div>

    <div class="flex items-center">
      <CoursePage::StepList::CourseStageItem::FeedbackPromptOption @emoji="ðŸ˜" class="mr-2" />
      <CoursePage::StepList::CourseStageItem::FeedbackPromptOption @emoji="ðŸ˜ƒ" @isSelected={{true}} class="mr-2" />
      <CoursePage::StepList::CourseStageItem::FeedbackPromptOption @emoji="ðŸ˜" class="mr-2" />
      <CoursePage::StepList::CourseStageItem::FeedbackPromptOption @emoji="ðŸ˜•" class="mr-2" />
      <CoursePage::StepList::CourseStageItem::FeedbackPromptOption @emoji="ðŸ˜­" />
    </div>
  </div>
</div>