<div class="border rounded flex items-center p-4 border-green-400 bg-green-50" data-test-publish-to-github-prompt ...attributes>
  {{svg-jar "github" class="w-8 h-8 mr-2 flex-shrink-0 text-green-400 transform scale-90"}}

  <div class="text-green-700 text-sm leading-relaxed">
    <span class="font-semibold underline" role="button" {{on "click" @onPublishToGithubButtonClick}}>Publish to GitHub</span>
    to unlock this stage today for free.
  </div>
</div>