<div data-test-course-progress>
  <div class="bg-gray-200 h-3 w-20 rounded mr-2">
    {{#if (eq @lastPushedRepository.numberOfStagesCompleted 0)}}
      <div class="bg-yellow-500 h-3 rounded w-1/12"></div>
    {{else}}
      <div data-test-course-progress-bar
        class="bg-yellow-500 h-3 rounded"
        style={{html-safe (concat "width:" (round (mult 100 (div @lastPushedRepository.numberOfStagesCompleted @course.numberOfStages))) "%")}}
      ></div>
    {{/if}}
  </div>

  <div class="text-xs text-gray-500 mr-3" data-test-course-progress-text>
    <b>{{@lastPushedRepository.numberOfStagesCompleted}}/{{@course.numberOfStages}}</b>
    stages
  </div>
</div>