<div data-test-course-progress>
  <div class="bg-gray-200 h-3 w-20 rounded mr-2">
    {{#if (eq @course.roundedCompletionPercentage 0)}}
      <div class="bg-yellow-500 h-3 rounded w-1/12"></div>
    {{else}}
      <div class="bg-yellow-500 h-3 rounded" style={{html-safe (concat "width:" @course.roundedCompletionPercentage "%")}}></div>
    {{/if}}
  </div>

  <div class="text-xs text-gray-500 mr-3" data-test-course-progress-text>
    <b>{{@lastPushedRepository.numberOfStagesCompleted}}/{{@course.numberOfStages}}</b>
    stages
  </div>
</div>