<div class="flex items-stretch pb-4 group">
  <div class="w-10 md:w-20 flex flex-col items-center mr-3">
    <div class="w-8 h-8 my-4 md:my-0 md:w-16 md:h-16 rounded-full flex items-center justify-center {{if @shouldShowLogoBackground 'bg-gray-700'}}">
      <img src={{@logoImageUrl}} alt={{@logoImageAltText}} class="w-6 md:w-12 transform scale-100 group-hover:scale-105 transition-all" />
    </div>

    {{#unless @isLastItem}}
      <div class="w-0.5 bg-gray-200 mt-2 flex-grow group-hover:bg-gray-300"></div>
    {{/unless}}
  </div>

  {{yield}}
</div>