<div class="bg-white min-h-screen">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <div class="py-3 border-b">
      <TertiaryLinkButton @route="course-admin.stage-insights-index" @size="small" class="pl-1.5 mb-3">
        <div class="flex items-center">
          {{svg-jar "arrow-circle-left" class="w-4 h-4 mr-1.5 text-gray-500"}}

          <span>
            Back
          </span>
        </div>
      </TertiaryLinkButton>

      <div class="flex items-start justify-between">
        <div>
          <h3 class="text-xl font-bold text-gray-800 mb-2">
            {{@model.stage.name}}
          </h3>
        </div>
        <div class="flex flex-col items-end">
          <LinkTo
            @route="course.stage.instructions"
            @models={{array @model.stage.course.slug @model.stage.identifierForURL}}
            class="text-gray-400 flex items-center hover:text-gray-600"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{svg-jar "github" class="inline-flex w-4 mr-1 fill-current"}}
            <span class="text-xs underline font-medium">View instructions</span>
          </LinkTo>
        </div>
      </div>
    </div>

    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 border sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Total Subscribers</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">71,897</dd>
      </div>
      <div class="overflow-hidden rounded-lg bg-white px-4 py-5 border sm:p-6">
        <dt class="truncate text-sm font-medium text-gray-500">Avg. Open Rate</dt>
        <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">58.16%</dd>
      </div>
    </dl>
  </div>
</div>