<CourseAdminPage::Header @course={{this.model.course}} />

<div class="bg-white">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <CourseAdminPage::SubmissionsTab
      @course={{this.model.course}}
      @submissions={{this.model.submissions}}
      @filteredLanguages={{this.filteredLanguages}}
    />
  </div>
</div>