<div class="bg-white">
  <div class="container mx-auto pt-4 pb-10 px-6">
    <div class="py-3">
      <h3 class="text-lg font-bold text-gray-800 mb-1">
        Updates
      </h3>
      <a href="https://github.com/" class="text-gray-400 flex items-center hover:text-gray-600">{{svg-jar "github" class="inline-flex w-4 mr-1 fill-current"}}<span
          class="text-xs underline font-medium"
        >codecrafters-io/build-your-own-redis</span></a>
    </div>
  </div>
</div>