<div class="prose mb-3">
  <p>
    Run the following commands to submit your changes:
  </p>
</div>

<CopyableTerminalCommand @commands={{array "git add . " "git commit -am 'pass 1st stage' # any msg" "git push origin master"}} />