<div class="bg-white rounded-md shadow-sm border border-gray-200 relative" ...attributes>
  <div class="p-4 md:p-6">
    <div class="text-xl font-bold text-gray-700 mb-4">
      {{@title}}
    </div>

    {{yield}}
  </div>
</div>