<div class="flex items-center justify-between" ...attributes>
  <div>
    <h1 class="text-3xl md:text-5xl text-gray-700 font-bold tracking-tighter mb-3">{{@language.name}} track.</h1>

    <p class="text-gray-500 mb-4 max-w-xl">
      Go mastery exercises, featuring unique Go features and recommended patterns, including Goroutines, gRPC, and
      Channel buffers. Become your team’s resident Go-expert.
    </p>

    <div class="flex items-center flex-wrap-reverse gap-x-2 gap-y-4">
      <TrackPage::StartTrackButton @language={{@language}} />
    </div>
  </div>
  <div class="ml-4 hidden md:block">
    <LanguageLogo @language={{@language}} class="w-40" />
  </div>
</div>