<div class="flex items-stretch pb-1 group">
  <div class="w-20 pt-2 flex flex-col items-center mr-3">
    <div
      class="w-16 h-16 border rounded-full bg-gray-700 p-2">
      <img src="/assets/images/logo/outline-color.svg" />
    </div>

    {{#unless courseStage.isLast}}
      <div class="w-0.5 bg-gray-200 mt-2 flex-grow group-hover:bg-gray-300"></div>
    {{/unless}}
  </div>

  <TrackPage::IntroductionCard @language={{@language}} @courses={{@courses}} />
</div>