<div class="bg-white dark:bg-gray-925 p-4 md:p-6 rounded-sm border border-gray-200 dark:border-white/5" ...attributes>
  <div class="mb-4">
    <div class="inline-flex border-b border-teal-500 uppercase text-teal-500 font-bold text-sm">
      {{@title}}
    </div>
  </div>

  {{yield}}
</div>