<Alert class="mb-6">
  Challenges are step-by-step coding exercises where you build projects from scratch. Vote and help us decide which challenges to build.
</Alert>

<div class="grid grid-cols-1 gap-3 lg:grid-cols-2 mb-8">
  {{#if this.authenticator.isAuthenticated}}
    {{! @glint-expect-error .gts components aren't compatible yet: https://github.com/typed-ember/glint/issues/665 }}
    <VotePage::SubmitCourseIdeaCard />
  {{/if}}

  {{#each this.orderedCourseIdeas as |courseIdea|}}
    {{! @glint-expect-error .gts components aren't compatible yet: https://github.com/typed-ember/glint/issues/665 }}
    <VotePage::CourseIdeaCard @courseIdea={{courseIdea}} />
  {{/each}}
</div>