<div class="grid grid-cols-1 gap-3 lg:grid-cols-2 mb-8">
  {{#each this.orderedCourseIdeas as |courseIdea|}}
    <VotePage::CourseIdeaCard @courseIdea={{courseIdea}} />
  {{/each}}

  <VotePage::SubmitCourseIdeaCard />
</div>