<MembershipPage::Section @title="Membership Plan" data-test-membership-plan-section>
  <div class="text-gray-700" data-test-membership-plan-description>
    {{#if @subscription.isTrialing}}
      Your trial for the
      <b>{{@subscription.pricingPlanName}}</b>
      plan is currently active.
    {{else if @subscription.isActive}}
      You are currently subscribed to the
      <b>{{@subscription.pricingPlanName}}</b>
      plan.
    {{else if @subscription.isInactive}}
      Your CodeCrafters membership is
      <b class="text-red-600">currently inactive</b>.
    {{/if}}
  </div>
</MembershipPage::Section>