<MembershipPage::Section @title="Membership Plan">
  <div class="text-gray-700">
    {{#if @subscription.isTrialing}}
      You trial for the
      <b>{{@subscription.pricingPlanName}}</b>
      plan is currently active.
    {{else}}
      You are currently subscribed to the
      <b>{{@subscription.pricingPlanName}}</b>
      plan.
    {{/if}}
  </div>
</MembershipPage::Section>