<MembershipPage::Section @title="Membership Plan">
  <div class="text-gray-700">
    You are currently subscribed to the
    <b>{{@subscription.pricingPlanName}}</b>
    plan.
  </div>
</MembershipPage::Section>