{{! @glint-nocheck: not typesafe yet }}
<MembershipPage::Section @title="Payment Method">
  <div class="text-gray-700">
    The payment method linked to your account is a
    <b>Mastercard</b>
    ending in
    <b>1234</b>.
  </div>
</MembershipPage::Section>