<div class="prose dark:prose-invert mb-3">
  <p>
    Run the following commands to submit your changes:
  </p>
</div>

<CopyableTerminalCommand @commands={{array 'git commit -am "[any message]"' "git push origin master"}} class="mb-3" />

<div class="prose dark:prose-invert">
  <p class={{if @isComplete "line-through"}}>
    Once you run the commands above, our system will automatically test your code.
  </p>

  {{#if @isComplete}}
    <p>
      🎉
      <b class="text-teal-500 ml-1">Tests passed!</b>
    </p>
  {{/if}}
</div>

{{#unless @isComplete}}
  {{#unless @shouldHideTestRunnerCardRelatedCopy}}
    <p class="prose dark:prose-invert prose-sm mt-3">
      <b>Note:</b>
      If you're still seeing "Tests failed" after completing the steps above,
      <a href="#" {{on "click" this.handleViewLogsButtonClick}}>view logs</a>
      to troubleshoot.
    </p>
  {{/unless}}
{{/unless}}