<CoursePage::InstructionsCard @title="Introduction" data-test-welcome-card ...attributes>
  <:content>
    <div class="prose dark:prose-invert">
      <p>
        Welcome to the
        {{@repository.course.name}}
        challenge!
      </p>

      {{markdown-to-html @repository.course.descriptionMarkdown}}
    </div>

    <CoursePage::IntroductionStep::WelcomeCard::CreateRepositoryQuestionnaire
      @repository={{@repository}}
      @preferredLanguageSlug={{@preferredLanguageSlug}}
    />
  </:content>
</CoursePage::InstructionsCard>