<CoursePage::InstructionsCard @title="Introduction" ...attributes>
  <:content>
    <div class="prose">
      <p>
        Welcome to the
        {{@repository.course.name}}
        challenge!
      </p>

      <p>{{markdown-to-html @repository.course.descriptionMarkdown}}</p>
    </div>
  </:content>
</CoursePage::InstructionsCard>