<TeamPaymentPage::StepContainer @title="Payment Details" data-test-payment-details-step-container {{did-insert this.handleDidInsert}}>
  <form id="payment-form">
    <div id="payment-element">
      {{! Elements will create form elements here }}
    </div>
  </form>

  <div class="h-px bg-gray-100 my-6"></div>

  <div class="flex justify-between items-center">
    {{#if this.errorMessage}}
      <div id="error-message" class="text-red-600 font-semibold">
        {{this.errorMessage}}
      </div>
    {{else}}
      <div class="text-xs text-gray-500">
        Payments are processed securely using Stripe.
      </div>
    {{/if}}

    <PrimaryButton {{on "click" this.handleContinueButtonClick}}>
      Continue
    </PrimaryButton>
  </div>
</TeamPaymentPage::StepContainer>