<div class="w-full max-w-xl bg-white border rounded p-6" ...attributes>
  <div class="text-gray-700 font-bold mb-1 uppercase">{{@title}}</div>
  <div class="h-px bg-gray-100 mt-2 mb-6"></div>

  {{yield}}
</div>