<CoursePage::ConfigureGithubIntegrationModal::Step @title="Step 1: Create a GitHub repository">
  <div class="prose mb-6">
    <p>
      <a href="https://github.com/new" target="_blank" rel="noopener noreferrer">Visit this link</a>
      and create a new GitHub repository. We suggest naming it
      <code>{{@recommendedRepositoryName}}</code>.
    </p>
  </div>
</CoursePage::ConfigureGithubIntegrationModal::Step>