<CoursePage::ConfigureGithubIntegrationModal::Step @title="Step 2: Install the CodeCrafters GitHub app">
  <div class="prose mb-4">
    <p>
      Once you've created the repository on GitHub, install our GitHub app so that CodeCrafters can publish your code to GitHub.
    </p>
  </div>

  <PrimaryButton {{on "click" this.handleInstallGitHubAppButtonClick}}>
    <div class="flex items-center">
      {{(svg-jar "github" class="w-5 h-5 mr-2")}}
      Install GitHub app
    </div>
  </PrimaryButton>
</CoursePage::ConfigureGithubIntegrationModal::Step>