{{! @glint-nocheck: not typesafe yet }}
<div ...attributes>
  <div class="text-teal-600 dark:text-teal-500 border-b dark:border-white/10 font-bold text-lg inline-block mb-3">{{@title}}</div>

  {{yield}}
</div>