<div class="container mx-auto py-16 min-h-screen lg:max-w-screen-lg px-6">
  <div class="pb-8 mb-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-8">Account deleted</h1>

    <div class="prose">
      <p>Your account is now deleted.</p>
      <p>
        We'd like to thank you for giving CodeCrafters a try. If there's anything we could have done better, please let us know at
        <a href="mailto:hello@codecrafters.io">hello@codecrafters.io</a>. We respond to every email.
      </p>
      <p>
        Should you wish to return, you could always sign up again through GitHub.
      </p>
    </div>
  </div>
</div>