<div class="container mx-auto py-16 min-h-screen lg:max-w-screen-lg px-6">
  <div class="pb-8 mb-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-8">We're sad to see you go.</h1>
    <p class="text-lg text-gray-600 mb-4">We've sucessfully processed your request to delete your account.</p>
    <p class="text-lg text-gray-600 mb-4">If there's anything we could have done better or if you have any feedback that could help us improve, we're
      all ears. Please reach out at hello@codecrafters.io.</p>
    <p class="text-lg text-gray-600 mb-4">Should you wish to return, you could always sign up again through GitHub.</p>
    <p class="text-lg text-gray-600 mb-4">In the meantime, we wish you all the best.</p>
  </div>
</div>