{{page-title "CodeCrafters"}}

<div class="bg-gray-100 min-h-screen">
  <Header />

  {{outlet}}

  {{#if this.isAnyModalOpen}}
    <ModalBackdrop>
      {{! Modals go here }}
    </ModalBackdrop>
  {{/if}}

  <Footer />
</div>

<LoadingIndicatorRemover />