{{page-title "Codecrafters"}}

<div class="bg-gray-100 min-h-screen">
  <Header />

  {{outlet}}

  {{#if this.isAnyModalOpen}}
    <ModalBackdrop>
      {{#if this.isSubscribeModalOpen}}
        <SubscribeModal />
      {{else if this.isCheckoutSessionSuccessfulModalOpen}}
        <CheckoutSessionSuccessfulModal />
      {{/if}}
    </ModalBackdrop>
  {{/if}}

  <Footer />
</div>

<LoadingIndicatorRemover />