{{page-title "CodeCrafters"}}

<div class="bg-gray-100 min-h-screen">
  {{#if this.currentRouteIsPay}}
    <MinimalHeader />
  {{else}}
    <Header />
  {{/if}}

  {{outlet}}

  {{#if this.isAnyModalOpen}}
    <ModalBackdrop>
      {{! Modals go here }}
    </ModalBackdrop>
  {{/if}}

  <Footer @shouldShowChallengeLinkGroup={{not this.currentRouteIsPay}} />
</div>

<LoadingIndicatorRemover />