{{page-title "CodeCrafters"}}

<div class="bg-gray-50">
  <Header />

  <div class="min-h-screen">
    {{outlet}}
  </div>

  {{#if this.isAnyModalOpen}}
    <ModalBackdrop>
      {{! Modals go here }}
    </ModalBackdrop>
  {{/if}}

  <Footer />
</div>

<LoadingIndicatorRemover />