<HeadLayout />

{{page-title "CodeCrafters"}}

<div class="bg-gray-50 min-h-screen">
  {{#if this.layout.shouldShowHeader}}
    <Header />
  {{/if}}

  {{outlet}}

  <div id="modal-backdrop-container">
  </div>

  {{#if this.layout.shouldShowFooter}}
    <Footer />
  {{/if}}
</div>

<LoadingIndicatorRemover />