{{page-title "Concepts"}}

<div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 md:pb-48 px-3 md:px-6">
  <div class="border-b pb-2 mb-6">
    <h1 class="text-3xl text-gray-700 font-bold tracking-tighter">Concepts</h1>
  </div>

  <div class="grid grid-cols-1 gap-3 md:gap-6 md:grid-cols-2">
    {{#each this.model.concepts as |concept|}}
      <ConceptsPage::ConceptCard @concept={{concept}} />
    {{/each}}
  </div>
</div>