{{page-title "Contest"}}

<div class="bg-black dark">
  <div class="container mx-auto lg:max-w-screen-lg pt-6 md:pt-10 pb-10 md:pb-48 px-3 md:px-6">
    <ContestPage::Header @contest={{@model.contest}} class="mb-6" />
  </div>
</div>