{{page-title "Courses"}}

Test

<div class="container mx-auto lg:max-w-screen-lg pt-10 pb-48 px-6">
  <CoursePageHeader @course={{this.model.course}} @repositories={{this.model.repositories}} />
  <CoursePageContent @course={{this.model.course}} />
</div>