<div class="container mx-auto lg:max-w-screen-lg pt-10 px-6">
  <CourseStageSolutionPage::Header />

  <CourseStageSolutionPage::FileDiffContainer />
  <CourseStageSolutionPage::FileDiffContainer />

  <div class="h-160">
  </div>
</div>