<div class="container mx-auto lg:max-w-screen-lg pt-10 px-6 pb-10">
  <CourseStageSolutionPage::Header @currentLanguage={{this.currentLanguage}} @requestedLanguage={{this.requestedLanguage}} @solution={{@model}} />

  {{outlet}}
</div>