<div class="container mx-auto lg:max-w-(--breakpoint-lg) py-48 px-3 md:px-6">
  <h1 class="leading-10 text-4xl font-bold text-gradient-to-b from-gray-950 to-gray-700 dark:from-white dark:to-gray-300 mb-10">
    Whoops!
  </h1>

  <div class="text-xl text-gray-700 dark:text-gray-300">
    The page you're looking for doesn't exist.
  </div>
</div>