<div class="container mx-auto lg:max-w-screen-lg py-48 px-3 md:px-6">
  <h1 class="text-4xl font-bold text-gray-700 mb-10">
    Whoops!
  </h1>

  <div class="text-xl text-gray-700">
    The page you're looking for doesn't exist.
  </div>
</div>