{{page-title (concat "Join " @model.referralLink.user.username)}}

<div class="container mx-auto lg:max-w-(--breakpoint-lg) py-16 pb-48 px-3 md:px-6">
  <h1 class="text-2xl font-bold text-gray-700 md:text-3xl text-center">
    Join the best.
  </h1>

  <ReferralLinkPage::AcceptReferralContainer
    @acceptedReferralOfferFreeUsageGrant={{@model.acceptedReferralOfferFreeUsageGrant}}
    @referralLink={{@model.referralLink}}
    class="mt-8"
  />

  <h2 class="text-2xl font-bold text-gray-700 md:text-3xl text-center mt-16">
    Hear it from our members
  </h2>

  <div class="text-gray-500 text-sm text-center mt-2">
    Engineers at top teams love The CodeCrafters Way<sup>TM</sup>.
  </div>

  <TestimonialList class="mt-10" />
</div>