{{page-title "Welcome to CodeCrafters!"}}

<div class="container mx-auto lg:max-w-screen-lg pt-8 pb-48 sm:pt-16 px-3 md:px-6">
  <div class="flex justify-center">
    <WelcomePage::OnboardingSurveyWizard />
  </div>
</div>