{{page-title "Welcome to CodeCrafters!"}}

<div class="container mx-auto lg:max-w-screen-lg py-8 sm:py-16 pb-48 px-3 md:px-6">
  <div class="flex justify-center">
    <WelcomePage::OnboardingSurveyWizard />
  </div>
</div>