{{page-title "Welcome to CodeCrafters!"}}

<div class="container mx-auto lg:max-w-screen-lg pt-8 pb-48 sm:pt-16 px-3 md:px-6" {{did-insert this.handleDidInsertContainer}}>
  <div class="flex justify-center">
    <WelcomePage::OnboardingSurveyWizard @onboardingSurvey={{@model.onboardingSurvey}} @onSurveyComplete={{this.handleSurveyCompleted}} />
  </div>
</div>