<div data-test-test-cli-connection-step>
  <CopyableTerminalCommand @commands={{array "curl https://codecrafters.io/install.sh | sh" "codecrafters ping"}} class="mb-1.5" />

  <a href="#" {{on "click" @onTroubleshootingLinkClick}} class="flex items-center gap-0.5 pl-0.5">
    {{svg-jar "question-mark-circle" class="w-3 h-3 fill-current text-blue-500"}}

    <span class="text-blue-500 text-xs underline font-medium">
      Troubleshoot
    </span>
  </a>
</div>