name: Publish Bundle

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_production_bundle:
    runs-on: depot-ubuntu-24.04-16

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.3.5'
      - run: bun install --frozen-lockfile --ignore-scripts
      - run: bun run build
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          BACKEND_URL: "https://backend.codecrafters.io"
