<div class="inline-flex border rounded-full bg-transparent py-0.5 px-3 text-sm font-semibold {{this.contestStatusPillColorClasses}}" ...attributes>
  {{yield}}

  {{#if @tooltipCopy}}
    <EmberTooltip @text={{@tooltipCopy}} />
  {{/if}}
</div>