<div class="border-b border-gray-800 pb-2" ...attributes>
  <div class="flex items-center gap-3 justify-between flex-col sm:flex-row">
    <h1 class="text-3xl text-gray-200 font-bold tracking-tighter">{{@contest.name}}</h1>

    <span class="text-gray-200 font-semibold">
      Jan 1 - Jan 8
    </span>
  </div>
</div>