<div class="dark:bg-gray-950 rounded-md border dark:border-gray-800" ...attributes>
  <div class="p-4 pt-3 sm:p-6 sm:pt-5">
    <h2 class="font-semibold border-b dark:border-gray-800 pb-2 mb-5 text-lg dark:text-teal-400">Prize</h2>

    <div class="prose prose-sm dark:prose-invert max-w-none">
      {{markdown-to-html @contest.prizeDetailsMarkdown}}
    </div>
  </div>
</div>