<PageSection @title="Stats" data-test-referral-stats-container ...attributes>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <ReferralsPage::AffiliateLinkStatContainer
      @title="Referrals"
      @icon="cursor-click"
      @helpText="The number of users who've accepted your referral offer."
    >
      <div class="flex items-center">
        <span class="text-gray-700 text-lg sm:text-2xl font-bold">{{@affiliateLink.referrals.length}}</span>

        {{#if (eq @affiliateLink.referrals.length 0)}}
          <span class="text-gray-300 text-xs ml-1">(no referrals yet)</span>
        {{/if}}
      </div>
    </ReferralsPage::AffiliateLinkStatContainer>

    <ReferralsPage::AffiliateLinkStatContainer
      @title="Paid Users"
      @icon="gift"
      @helpText="The number of referred users who've converted to paying users."
    >
      <div class="flex items-center" data-test-referral-stats-paid-users>
        {{#if (eq this.paidUsersCount 0)}}
          <span class="text-gray-300 text-xs ml-1">(no payments yet)</span>
        {{else}}
          <span class="text-gray-700 text-lg sm:text-2xl font-bold">
            {{this.paidUsersCount}}
          </span>
        {{/if}}
      </div>
    </ReferralsPage::AffiliateLinkStatContainer>
  </div>
</PageSection>