<PageSection @title="Earnings" data-test-referred-users-container ...attributes>
  <div class="text-gray-600 text-sm text-center py-10" data-test-referred-users-description>
    When one of your users makes a successful payment, you'll be able to view details here.
  </div>
</PageSection>