<PageSection @title="Trialing & Active Users" data-test-referred-users-container ...attributes>
  {{#each @referralLink.visibleActivations as |referralActivation|}}
    <ReferralsPage::ReferredUserItem @referralActivation={{referralActivation}} />
  {{else}}
    <div class="text-gray-600 text-sm text-center py-10" data-test-referred-users-description>
      When your referred users start trials, you'll be able to view their details here.
    </div>
  {{/each}}
</PageSection>