<PageSection @title="Link" data-test-subscription-settings-container ...attributes>
  <div class="prose">
    Your referral link is:
  </div>

  <div class="max-w-lg mt-3">
    {{! @glint-expect-error: not ts-ified yet }}
    <CopyableCode @code={{this.referralLink.url}} />
  </div>
</PageSection>