<div ...attributes>
  {{#each this.featureMarkdownList as |feature|}}
    <FeatureCard class="max-w-xs mx-auto" @imageUrl={{feature.imageUrl}} @title={{feature.title}} @contentMarkdown={{feature.bodyMarkdown}} />
  {{/each}}
</div>