<div ...attributes>
  {{#each this.featureList as |feature|}}
    <div class="flex justify-center">
      <FeatureCard @imageUrl={{feature.imageUrl}} @title={{feature.title}} @contentMarkdown={{feature.bodyMarkdown}} />
    </div>
  {{/each}}
</div>