<div ...attributes>
  {{#each this.featureList as |feature|}}
    <div class="flex justify-center">
      <FeatureCard @contentMarkdown={{feature.bodyMarkdown}} @imageUrl={{feature.imageUrl}} @popover={{feature.popover}} @title={{feature.title}} />
    </div>
  {{/each}}
</div>