<PageSection @title="Referred Users" data-test-affiliate-referred-users-container ...attributes>
  {{#each this.userActivationsAndFreeUsageGrants as |activationAndGrant|}}
    <ReferralsPage::ReferralReferredUserItem @affiliateReferral={{affiliateReferral}} />
  {{else}}
    <div class="text-gray-600 text-sm text-center py-10" data-test-affiliate-referred-users-description>
      No paid users found.
    </div>
  {{/each}}
</PageSection>