<div class="py-0.5 font-mono" ...attributes>
  <AnimatedContainer>
    {{#animated-if (eq this.lastToolCall.status "in_progress") use=this.transition duration=100}}
      <div class="text-xs text-gray-300">
        <TextShimmer @text={{this.lastToolCall.text}} />
      </div>
    {{else}}
      <div class="text-xs text-gray-500">
        {{this.lastToolCall.text}}
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>